/*i'm gonna play with this cause i'm dum with backendz*/

/*
COLORS:

h1 yellow: #fddc08;

dark blue: #004175
slate blue: #246495
body link blue: #7DA2E7
pale blue: #EFF0F9

body type gray: #333
pale gray: #ebebeb
medium gray: #999

orange: #D18405

*/


/*---((( global jawnt )))---*/
* {
	margin: 0;
	padding: 0;
	}

body {
	text-align:center;
	background:#fff url(/media/images/bg-body.gif) repeat-y top center;
    color: #333;
    font-family:Helvetica, Arial, sans-serif;
    font-size:62.5%;
	}
	p {
		font-size: 1.2em; 
		line-height:1.5em;
		margin-bottom:1.2em;
		}
	h2 {
		font-size: 1.7em; 
		margin-top:1em;
		color:#004175;
		margin-bottom:.25em;
		}
	h3 {
		font-size: 1.4em;
		color:#666;
		margin-bottom:1.5em;
		}
	h4 {
		font-size: 1.2em;
		background:#D18405;
		width:200px;
		padding:.75em;
		color:#fff;
		margin-top:2em;
		margin-bottom:.5em;
		}
	a, a:link {
		color: #7DA2E7;/*#00417d;*/
		}
		a:visited { 
			color: #7DA2E7;
			}
		a:hover { 
			color: #246495;
			}
	ul {}
		ul li {
			list-style-type:none;
			font-size:1.2em;
			}
			
	table {
		border-collapse:collapse;
		margin-top:15px;
		}
		tr {}
			th {}
			td {
				vertical-align:top;
				}
			
	form.standard {}
		form.standard label {
			font-size:1.1em;
			display:block;
			margin:1.25em 2em .5em 0;
			}
		form.standard input, form.standard select, form.standard textarea {
			margin:.5em .25em;
			width:200px;
			border:1px solid #D18405;
			}
			form.standard textarea {

				}


		
/*--- ((( tools ))) ---*/
.clearAll {clear:both;}
.float-left {float:left;}
.float-right {float:right;}
hr.left-clearer {display: block; clear: left; margin: -0.66em 0; visibility: hidden;}
hr.right-clearer {display: block; clear: right; margin: -0.66em 0; visibility: hidden;}
.last-item {border:none !important;}

.action {background:url(/media/images/bg-action.gif) no-repeat 0 2px; padding-left:16px;}
		
/*--- ((( structure ))) ---*/

#wrapper {
	background:#ebebeb;
	width:960px; 
	margin:0 auto;
	text-align:left;
	}
#header {
	background: #00417d;
	height:120px;
	}
#content-wrapper {
	background:#EBEBEB;
	}	
	#left-column { 
		padding-bottom:50px;
		border-top:1px solid #999;
		float:left;
		background:#fff;
		margin:15px 20px 15px 15px;
		width:625px;
		}
	#right-column {
		border-top:1px solid #999;
		float:left;
		width:280px;
		margin-top:15px;
		}
	#double-column {
		padding-bottom:50px;
		border-top:1px solid #999;
		float:left;
		width:930px;
		background:#fff;
		margin:15px 20px 15px 15px;
		}
		#primary-content-wrapper {
			padding:0 15px;
			}
#footer {
}


/*--- ((( #header styles ))) ---*/

#header {}

	/*h1*/
	h1 {/*this needs work...*/
		position:absolute;
		margin:60px 15px;
		}
	
	h1 a {
		font-size:1.2em; 
		color:#fddc08;
		text-decoration:none;
		}
	h1 a:visited {
		color:#fddc08;
		}
	h1 a:hover {
		color:#fddc08;
		}
	h1 span.sub-title {
		font-size:.8em;
		font-weight:normal; 
		color:#fff;
		}
	
	/*utility-nav*/
	ul#utility-nav {
		float:right;
		margin:10px 15px 15px 15px;
		}
		ul#utility-nav li {
			display:inline;
			color:#fff;
			font-size:1em;
			border-right:1px solid #fff;
			padding:2px 7px 2px 3px;
			}
			ul#utility-nav li a {
				color:#fff;
				font-weight:bold;
				}
				ul#utility-nav li a:visited {
					color:#fff;
					}
		
	/*global-nav*/
	ul#global-nav {
		/*margin:100px 15px 0 15px;*/
		position:relative;
		margin-left:15px;
		top:98px;
		}	
		/*.set-down { position:absolute; bottom:0px; z-index: 1; }*/
		ul#global-nav li {
			float:left;
			margin-right:3px;
			background:#53648C;/*#246495;*/
			}
			ul#global-nav li a {
				display:block;
				color:#fff;
				padding:.36em 1em .33em 1em;
				font-weight:normal;
				font-size:1.1em;
				text-decoration:none;
				}
				ul#global-nav li a:hover {
					background:#246495;
					}
				ul#global-nav li a.active {
					background:#ebebeb;
					color:#333;
					}
				
			
/*--- ((( content-wrapper styles ))) ---*/

	/*left-column and double-column*/
	#left-column {}

		ul#local-nav {
			background:#EFF0F9;
			padding:15px;
			margin-left:0 !important; /*overrides left-column ul li styles. kinda wack way to do this.*/
			
			}
			ul#local-nav li {
				background:none !important;
				padding-left:0 !important;
				font-size:1.1em;
				margin-right:.25em;
				padding-right:.5em;
				display:inline;
				border-right:1px solid #999;
				}
				ul#local-nav li a, ul#local-nav li a:link {}
				
					ul#local-nav li a:hover {}
					
					ul#local-nav li a:visited {}
					
		#left-column p, #double-column p {
			}
		#left-column h2, #double-column h2 {
			}
		#left-column ul, #double-column ul {
			margin-bottom:1.5em;
			}
			#left-column ul li, #double-column ul li {
				margin-bottom:.5em;
				padding-left:11px;
				background:url(/media/images/bg-bullet.gif) no-repeat 0 2px;
				}
				
		#left-column div.attention, #double-column div.attention {
			margin:.5em 0 1.2em 0;
			background:beige;
			padding:1em 1em .25em 1em;
			border:1px solid #ddd;	
			}
		
		#left-column form.standard, #double-column form.standard {
			border:1px solid #ddd;
			padding:1em;
			}

	/*right-column*/
	#right-column {}
	
		#right-column h3 {
			background:#EFF0F9;
			margin:0 0 1em 0;
			padding:14px 5px;
			}
			
	/*double-column*/
	#double-column {
		}
		#double-column table.data {
			border:1px solid #ddd;
			width:97%;
			font-size:1.1em;
			}
			#double-column table.data th {
				background:#D18405;
				color:#fff;
				padding:.75em .25em .75em .5em;
				}
			#double-column table.data td {
				padding:.75em .25em 1em .5em;
				font-size:1em;
				border-bottom:1px solid #eee;
				}
				#double-column table.data td ul {
					margin:0;
					}
					#double-column table.data td ul li {
						font-size:1em;
						}
				#double-column table tr.odd {
					background:#F7F7F7;
					}
		


/*--- ((( footer styles ))) ---*/

div#footer {
	}
	div#footer-nav {
		padding:20px;
		background:#00417d;
		text-align:center;
		}
	ul#global-footer-nav {
		}
		ul#global-footer-nav li {
			display:inline;
			font-weight:bold;
			color:#fff;
			}
			ul#global-footer-nav li a, ul#footer-global-nav a:link {
				color:#fff;
				}
				ul#global-footer-nav li a:hover {}
				ul#global-footer-nav li a:visited {}
				ul#global-footer-nav li a.current {
					color:#999;
					text-decoration:none;
					}
	ul#local-footer-nav {
		margin-top:1.2em;
		}
		ul#local-footer-nav li {
			display:inline;
			font-weight:bold;
			color:#fff;
			}
			ul#local-footer-nav li a, ul#local-vooter-nav li a:link {
				color:#fff;
				}
				ul#local-footer-nav li a.current {
					color:#999;
					text-decoration:none;
					}
	#footer-info {
		background:#53648C;
		padding:15px 0;
		}
		#footer p {
			font-size:1.1em;
			line-height:1.3em;
			padding-left:15px;
			color:#fff;
			}
		


/*-------------------------------old stuff begins here

div#logo {
    position: absolute;
    top: 0px;
    left: 5px;
    width: 90%;
    height: 0.9em;
    color: #0000FF;
    background: #99cc99;
    font-family: "Times New Roman",times,sans-serif;
    font-size: 3em;
}

div#main_menu {
    position: fixed;
    top: 0px;
    right: 5px;
    text-align: right;
  	padding-right: 5px;
  	padding-left:  30px;
    height: 1.15em;
    background: #6464c8;
    font-size: 1.25em;
    z-index: 100;
}

div#page_menu {
    position: fixed;
    top: 24px;
    right: 5px;
    padding-right: 5px;
  	padding-left:  30px;
    height: 1.15em;
    background: #6464c8;
    font-size: 1.25em;
    z-index: 100;
}

div#headerLine {
    position: absolute;
    top: 0px;
    height: 3em;
    width: 100%;
    border-bottom: thin solid;
}

div#content {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 70px;
}

div#message {
    display: none;
    position: absolute;
	width: auto;
	height: auto;
	padding: 20px;
	background: #cc9999;
	color: #003333;
	border: solid red 1px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-bottomright: 30px;
	font-size: 1.5em;
	text-align: center;
}
////////////////////////////////////////////////////////////////// 

h1, h2 {text-align: center;}

a {
	padding-right: 1px;
	padding-left: 1px;
}

a:link {
    color: #0064ff;
    text-decoration: none;
    
}
	
a:visited {
    color: #0064ff;
    text-decoration: none;
}
    
a:hover {
    color: #003232;
    background: #96b4ff;
    text-decoration: none;
}


a.button:link {
    color: #ffffff;
    background: #6464c8;
    text-decoration: none;
    
}

a.button:visited {
    color: rgb(255,255,255);
    background: rgb(100,100,200);
    text-decoration: none;
}
    
a.button:hover {
    color: rgb(0,100,255);
    background: #99cc99;
    text-decoration: none;
}

img {
    border: none;
    opacity: 1.0;
}

img:hover {
    opacity: 0.7;
}

img.b50em {
	height: 0.5em;
}

img.b75em {
	height: 0.75em;
}

img.b100em {
	height: 1em;
}

img.b125em {
	size: 1.25em;
}


table {
	margin-left: auto;
	margin-right: auto;
    border: 1px solid blue;
    background-color: #96b4ff;
    border-collapse: collapse;
    text-align: left;    
}

tr {
    border-top: 1px solid blue;
}

th {
    text-align: right;
    padding: 5px;
    border-right: 1px solid blue;
    background-color: #96b4ff;;
}


td {
    text-align: left;
    border-right: 1px solid blue;    
    padding: 5px;
    font-family: "Arial",times,sans-serif;
}
*/
