/*i'm gonna play with this cause i'm dum with backendz*/

/*--((( global jawnt )))--*/
* {
	margin: 0;
	padding: 0;
}

body {
	text-align:center;
	background:#fff;
    color: #333;
    font-family:Helvetica, Arial, sans-serif;
    font-size:62.5%;
}

	p {
		font-size: 1.2em; 
		line-height:1.5em;
	}

	h2 {
		font-size: 1.4em; 
		color:#454545;
	}

	h3 {
		font-size: 1.3em;
		color:#858284;
	}
	
	h4 {
		font-size: 1.2em;
	}

	a {
		color: #00417d;
		
	}
		a:visited { 
			color: #00417d;
		}
		
		a:hover { 
			color: #246495;
		}
		
	ul {}
	
		ul li {
			list-style-type:none;
		}
		
/*-- ((( structure ))) --*/

#wrapper {
	background:#ebebeb;
	width:960px; 
	margin:0 auto;
	text-align:left;
}

#header {
	background: #00417d;
}

#content-wrapper {
	}

#footer {
}


/*-- ((( #header styles ))) --*/

#header {}
	
	ul#utility-nav {
		float:right;
	}
	
		ul#utility-nav li {
			display:inline;
		}
			ul#utility-nav li a {
				font-size:1.1em;
				color:#fff;
			}
			
				ul#utility-nav li a:visited {
					color:#fff;
				}

	h1 a {
		font-size:1.2em; 
		color:#fddc08;
		text-decoration:none;
	}
		h1 a:visited {
			color:#fddc08;
		}
		h1 a:hover {
			color:#fddc08;
		}
		h1 span.sub-title {
			font-size:.8em;
			font-weight:normal; 
			color:#fff;
		}
		
	ul#global-nav {}
	
		ul#global-nav li {
			display:inline;
			
		}
	
			ul#global-nav li a {
				background:#246495;
				color:#fff;
				font-weight:bold;
				font-size:1.2em;
				text-decoration:none;
				
			}
		
			


/*-------------------------------old stuff begins here

div#logo {
    position: absolute;
    top: 0px;
    left: 5px;
    width: 90%;
    height: 0.9em;
    color: #0000FF;
    background: #99cc99;
    font-family: "Times New Roman",times,sans-serif;
    font-size: 3em;
}

div#main_menu {
    position: fixed;
    top: 0px;
    right: 5px;
    text-align: right;
  	padding-right: 5px;
  	padding-left:  30px;
    height: 1.15em;
    background: #6464c8;
    font-size: 1.25em;
    z-index: 100;
}

div#page_menu {
    position: fixed;
    top: 24px;
    right: 5px;
    padding-right: 5px;
  	padding-left:  30px;
    height: 1.15em;
    background: #6464c8;
    font-size: 1.25em;
    z-index: 100;
}

div#headerLine {
    position: absolute;
    top: 0px;
    height: 3em;
    width: 100%;
    border-bottom: thin solid;
}

div#content {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 70px;
}

div#message {
    display: none;
    position: absolute;
	width: auto;
	height: auto;
	padding: 20px;
	background: #cc9999;
	color: #003333;
	border: solid red 1px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-bottomright: 30px;
	font-size: 1.5em;
	text-align: center;
}
////////////////////////////////////////////////////////////////// 

h1, h2 {text-align: center;}

a {
	padding-right: 1px;
	padding-left: 1px;
}

a:link {
    color: #0064ff;
    text-decoration: none;
    
}
	
a:visited {
    color: #0064ff;
    text-decoration: none;
}
    
a:hover {
    color: #003232;
    background: #96b4ff;
    text-decoration: none;
}


a.button:link {
    color: #ffffff;
    background: #6464c8;
    text-decoration: none;
    
}

a.button:visited {
    color: rgb(255,255,255);
    background: rgb(100,100,200);
    text-decoration: none;
}
    
a.button:hover {
    color: rgb(0,100,255);
    background: #99cc99;
    text-decoration: none;
}

img {
    border: none;
    opacity: 1.0;
}

img:hover {
    opacity: 0.7;
}

img.b50em {
	height: 0.5em;
}

img.b75em {
	height: 0.75em;
}

img.b100em {
	height: 1em;
}

img.b125em {
	size: 1.25em;
}


table {
	margin-left: auto;
	margin-right: auto;
    border: 1px solid blue;
    background-color: #96b4ff;
    border-collapse: collapse;
    text-align: left;    
}

tr {
    border-top: 1px solid blue;
}

th {
    text-align: right;
    padding: 5px;
    border-right: 1px solid blue;
    background-color: #96b4ff;;
}


td {
    text-align: left;
    border-right: 1px solid blue;    
    padding: 5px;
    font-family: "Arial",times,sans-serif;
}
*/
