/*
 * TODO:
 * create color standards and documentation
 * implement some gradients in table cells, nav
 * implement css drop shadows in nav and headings
 * fix button styles which seem weird
 * create type styles
 * /
 *
/*misc globals*/
* {margin:0; padding:0; font-weight:normal;}
body {font-size:12px; background:#48586f; color:#333; font-family:Arial, Helvetica, sans-serif; line-height:1.3em; text-align:center;}
img {display:block; border:none;}
h1 {color:#111; font-weight:bold; font-size:24px; letter-spacing:-.03em; margin-bottom:12px; line-height:28px;}
h2 {color:#111; font-weight:bold; font-size:18px; letter-spacing:-.03em; margin:12px 0;}
ul li, ol li {list-style-type:none;}
address, blockquote, small, cite, time, header, menu, article, section, footer, aside, nav {display:block; font-style:normal;}
a, a:visited {color:#4183c4; outline:none;}
a:hover, a:focus {color:#48586f;}

/*table globals*/
table {width:100%; border-collapse:collapse; border:1px solid #ddd; border-bottom:none; border-spacing:0;}
table caption {display:none;}
table th {background:#7a8697; font-size:14px; color:#efefef; padding:10px 5px; font-weight:bold;}
table td {vertical-align:top; border-bottom:1px solid #ddd; padding:10px 5px 5px 5px;}
	table tr:nth-child(odd) td {background:#f2f2f2;}

/*form globals*/
form {}
input, textarea, label {display:block;}
  input[type=hidden] {display:none;} 
  label {margin-bottom:.25em;}
  input, textarea {font:inherit; padding:3px; margin-bottom:.5em;}
	input[type=text] {width:250px;}
	option {font:inherit;}

/*utility*/
.break {display:block;}
.left {float:left;}
.right {float:right;}
.hidden {visibility:hidden;}
.none {display:none;}
.clear_left {clear:left;}
.clear_right {clear:right;}
.clear_both {clear:both;}

/*classed globals*/
menu.pagination {float:right; overflow:hidden; margin-bottom:10px;}
	menu.pagination a, menu.pagination span {display:block; float:left; width:20px; height:20px; line-height:20px; text-align:center; margin-left:5px; border:1px solid #ddd; text-decoration:none;}
.section_wrap {width:960px; margin:0 auto; overflow:hidden; text-align:left;}
form.page_control {background:#fefef3; padding:10px; margin-bottom:10px; border:1px solid #E7E4C2; }
	/* TODO: form.page_control {background:-moz-linear-gradient(90deg, #FEFEF3, #FBF8D4) repeat scroll 0 0;}*//*mozilla vendor prefex*/
	ol.form li {overflow:hidden;}
		ol.form li.checkbox input {float:left; margin-right:5px;} 
		ol.form li.checkbox label {float:left;}
.button {display:block; border:1px solid #ccc; color:#111; cursor:pointer; font:inherit; font-weight:bold; padding:0 5px; height:30px; text-shadow:1px 1px 0 #FFFFFF; border-radius:4px 4px 4px 4px;}
	.button {-moz-border-radius:4px 4px 4px 4px; -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3); background:-moz-linear-gradient(-90deg, #FFFFFF, #E1E1E1) repeat 0 0 transparent;}/*moz*/
	.button {background:-webkit-gradient(linear,0% 0,0% 100%,from(#fff),to(#e1e1e1));}/*webkit*/

/*header*/
#masthead {background:#5c718e;}
	#masthead a, #masthead a:visited {color:#efefef; font-weight:bold; text-decoration:none;}
	#masthead .section_wrap.shell_top {height:75px;}
	#mess_logo {float:left; width:225px; text-indent:-5000px; height:55px; margin-top:9px; background:url('../images/sprites/base_sprite.png') no-repeat 0 -20px;}
	#utility_nav {float:right; background:#48586f; border-bottom-left-radius:7px; border-bottom-right-radius:7px;  padding:10px 15px;}
		#utility_nav {-moz-border-radius-bottomright:7px; -moz-border-radius-bottomleft:7px;} /*damn mozilla vendor prefixes*/
			#utility_nav ul li {float:left; padding:0 10px; border-right:1px solid #bbb;}
				#utility_nav ul li:last-child {border:none;}
					#masthead #utility_nav ul li a {font-weight:normal;}
						#masthead #utility_nav ul li a:hover {text-decoration:underline;}
#main_nav {background:#48586f; height:35px; clear:both;}
	#main_nav ul.primary {height:40px; line-height:35px; border-left:1px solid #556983;}
	#main_nav ul.primary li {float:left; font-size:14px; border-right:1px solid #556983;}
		#main_nav ul.primary li span.item {padding-right:15px;}
		#main_nav ul.primary li a {display:block; float:left; padding:0 0 0 15px;}
			#main_nav ul.primary li a:hover {text-decoration:underline; /*background:#7a8697;*/}
			#main_nav ul.primary li.current span.item {background:#e5e8ed;}	
				#main_nav ul.primary li span.item.clicked {background:#7a8697;}
					#main_nav ul.primary li.current span.item a {color:#313131;}

		#main_nav ul.primary li span {display:block; float:left; color:#efefef;}
			#main_nav ul.primary li span.item:hover {cursor:pointer; background:#7a8697;}
				#main_nav ul.primary li.current span.item:hover {background:#e5e8ed;}
			#main_nav ul.primary li span.more {background:url('../images/sprites/base_sprite.png') no-repeat 2px -110px; text-indent:-5000px; margin-left:10px; width:13px; height:12px; line-height:12px; margin-top:12px; overflow:hidden;}
			#main_nav ul.primary li span.more:hover {background-position:-30px -110px;}
	#main_nav ul.primary li ul.sub_nav {position:relative; width:180px; margin-right:-100px;border:none; background:#7a8697; clear:left;}
		#main_nav ul.primary li ul.sub_nav li, 	#main_nav ul li ul.sub_nav li a {margin:0; float:none; border:none;}
	
#secondary_nav {background:#e5e8ed; height:45px; border-bottom:1px solid #ccc;}
	#secondary_nav a,	#secondary_nav a:visited {color:#313131;}
		#secondary_nav a:hover {text-decoration:underline;}
	#secondary_nav ul {margin-top:15px;}
	#secondary_nav ul li {float:left; padding:0 7px; border-right:1px solid #ccc;}

/*main_content*/
#main_content {background:#fff; border-top:40px solid #e5e8ed;}
	#main_content .section_wrap {padding:20px 0 40px 0;}
		#main_content p, #main_content ul {font-size:13px; line-height:19px; margin:15px 0;}
			#main_content ul li {margin-bottom:6px;}

/*footer*/
#global_footer {background:#48586f; padding:20px 0 40px 0; overflow:hidden; color:#efefef;}
	#global_footer .colophon {width:960px; margin:0 auto; text-align:left;}
		#global_footer .colophon ul li {float:left; padding:0 5px; border-right:1px solid #556983;}
			#global_footer .colophon ul li address {display:inline;}
			#global_footer .colophon ul li a, #global_footer .colophon ul li a:visited {color:#efefef;}
