/* list.css */

/*///////////////////////////////////////////////////////////////////*/

div#list, div#datep {
    display: none;    
    position: absolute;
    width: 300px;
    height: auto;
    background: #EFF0F9;
	color: #0000cc;        
	padding: 4px;    
	border: solid #990099;
	border-width: 1px 1px 1px 1px;
	text-align: left;
    z-index: 2;
}

div#listShadow {
    visibility: hidden;
    position: absolute;
    background: #555555;
    z-index: 1;
}

div#list_cancel {
	text-align: right;
	padding-right: 20px;
	color: #cc0000;
}

div.other_member_choice {
	padding-right: 20px;
	color: #cc0000;
}

div.account_choice:hover, div.member_choice:hover {
    background: #fddc08;
    color: #333
} 

div#list_cancel:hover, div.other_choice:hover {
    background: #fddc08;
	color: #0000cc;
}

div.confirm_member {
    background: #99CC99;
	color: #0000cc;        
	padding: 4px;    
	border: solid #990099;
	border-width: 1px;
	text-align: left;
    z-index: 2;
}

div.confirm_member:hover {
    background: #cc9999;
}    

div#datep { font-size:10pt; width:150px;} 
div#datep * { text-align:center; }
div#datep a { color:black; text-decoration:none; }
div#datep table {width:150px; margin-top:0pt;}
div#datep .month {font-weight:bold;}
div#datep .highlighted { background: #c99; }
div#date_shortcuts {font-size:8pt; margin-bottom:4pt; margin-top:-2pt;}
div#date_shortcuts a {text-decoration:underline;}
