.task-form {
  padding: 1em;
}
.task-edit-form {
  background-color: #fff280;
}
.task-add-form {
  border: 1px solid #ddd;
  font-size: 1.1em;
}
/*
.task-add-form #id_affect {
  display: none;
}
*/
.form-chunk {
  margin-bottom: 10px;
}
input[id$="time_0"] {
  display: none;
}
input[id$="time_1"] {
  width: 60px;
}
input[id$="hours"] {
  width: 25px;
  margin-right: 10px;
}
select[id$="frequency"] {
  width: 80px;
  margin-right: 10px;
}
input[id$="interval"] {
  width: 15px;
}
input[id$="until"] {
  width: 80px;
  margin-right: 10px;
}
input[id$="job"] {
  width: 140px;
  margin-right: 10px;
}
select[id$="affect"] {
  width: 90px;
}
#worker_list {
  margin-top: 10px;
}
#primary-content-wrapper #worker_list li {
  padding: 0;
  background: none;
}
#worker_list input[id$="id"] {
  display: none;
}
#worker_list select[id$="member"] {
  width: 170px;
}
.errors {
  color: red;
}
.task-options {
  background: #fff;
  border: 1px solid #ccc;
  padding: 3px;
  position: absolute;
  margin: 0 0 0 -50px;
}
.task-options-arrow {
  background: #fff;
  border-color: #ccc #ccc #fff;
  border-style: solid;
  border-width: 1px;
  position: relative;
  z-index: 1;
}
