/* @override http://localhost:8000/media/css/yui_custom.css */


/* --:((( CALENDAR STUFF ))):-- */
/* override base.css bullet background image */
.actions li, .details_list li  {
    background-image: none !important;
}


.actions {
    line-height: 24px;
    background-image: url(../images/checkboxArrow.gif);
    background-repeat: no-repeat;
    background-position: 20px 10px;
    clear: both;
    padding: 0px 5px 0 30px;
    height: 27px;
}

.actions li a:link, .actions li a:visited, .actions li a:active {
    background-color: #fff;
    font-size: 11px;
    color: #000;
    text-decoration: none;
    border: 1px solid #aaa;
    padding: 1px 4px;
    margin: 2px;
}

.actions li a:hover {
  background-color: #0075CE;
  color: #fff;
  border: 1px solid #0075CE;
}

#details_list_header{
    border-top: 4px solid #2e93da;
    padding: 6px 0 6px 20px;
    line-height: 10px;
    color: #fff;
    font-size: 12px;
    background-color: #0075CE;
}

#cal1Container {
    margin: 22px 0 0 6px ;
}

#left-column { 
	padding-bottom:22px;
}

#task-list {
    margin-left: 15px;
}

/* WEEKDAY (Su, Mo, Tu...) HEADER CELLS */
.yui-skin-sam .yui-calendar .calweekdaycell {
	color:#000;
	font-weight:bold;
	text-align:center;
	width:8em;
}

/* NORMAL CELLS */
.yui-skin-sam .yui-calendar td.calcell {
	border:1px solid #cccccc;
	background:#fff;
	padding:2px;
	height:2.5em;
	line-height:1.6em; /* set line height equal to cell height to center vertically */
	text-align:left;
	white-space:nowrap;
}

/* TODAY'S DATE */
.yui-skin-sam .yui-calendar td.calcell.today{background-color:#fff280;}
.yui-skin-sam .yui-calendar td.calcell.today a{background:#fff280;}
.yui-skin-sam .yui-calendar td.calcell.today.selected{background-color: #000;}
.yui-skin-sam .yui-calendar td.calcell.today.selected a{background-color: #fff280;}


/* selected cell */
.yui-skin-sam .yui-calendar td.calcell.selected{background-color:#000;color:#000;}
.yui-skin-sam .yui-calendar td.calcell.selected a{background-color:#fff;color:#000;}
.yui-skin-sam .yui-calendar td.calcell.calcellhover{background-color:#426fd9;color:#fff;}
.yui-skin-sam .yui-calendar td.calcell.calcellhover a{background-color:#426fd9;color:#fff;}
.yui-skin-sam .yui-calendar td.calcell.selected.calcellhover{background-color:#000;color:#fff;}
.yui-skin-sam .yui-calendar td.calcell.selected.calcellhover a{color:#fff;}



/* --:((( AUTOCOMPLETE STUFF ))):-- */		
.yui-skin-sam .yui-ac {
 	position:relative;
}

/* styles for input field */
.yui-skin-sam .yui-ac-input {
	position:absolute;
	}

/* styles for results container */
.yui-skin-sam .yui-ac-container {
	position:absolute;
  	top:1.6em;
  	width:20em;
	}

/* styles for header/body/footer wrapper within container */
.yui-skin-sam .yui-ac-content {
  	position:absolute;
  	width:100%;
  	border:1px solid #ccc;
  	background: #eff0f9; /* Pale blue from mess palette. */
  	overflow:hidden;
  	z-index:9050;
	}

/* styles for container shadow */
/*.yui-skin-sam .yui-ac-shadow {
  position:absolute;
  margin:.3em;
  width:100%;
  background:#000;
  -moz-opacity: 0.10;
  opacity:.10;
  filter:alpha(opacity=10);
  z-index:9049;
}*/

/* styles for results list */
.yui-skin-sam .yui-ac-content ul{
  	width:100%;
	margin-top:1em;
	}

/* styles for result item */
.yui-skin-sam .yui-ac-content li {
	background-image:none !important;
	padding:2px;
	cursor:default;
	white-space:nowrap;
	}

/* styles for prehighlighted result item */
.yui-skin-sam .yui-ac-content li.yui-ac-prehighlight {
	background: #004175;
}

/* styles for highlighted result item */
.yui-skin-sam .yui-ac-content li.yui-ac-highlight {
  background: #004175; 
  color:#FFF;
}

/* I'm having trouble understanding this I needed to preface the
 * styles for highlighted result item with #primary-content-wrapper
 * to get pasted the formatting in base.css.
 */
#primary-content-wrapper .yui-ac-content li.yui-ac-highlight {
  background: #004175; /* Dark blue from the mess palette. */
  color:#FFF;
}

/* More stuff to make autocomplete happy */
/* custom styles for multiple stacked instances */
#account, #member {
    width:15em; 
    padding-bottom:2em;
	}
#account {
    z-index:9000; /* z-index needed on top instance for ie & sf absolute inside relative issue */
  }

#account-input, #member-input {
	_position:absolute; /* abs pos needed for ie quirks */
	}

.not-acct-mem {
	color: #888;
	}
	


