/* editMem.css Stylesheet*/

caption {
	text-align: left;
	font-size: 1.5em;
}

th {
	text-align: left;
	vertical-align: center;
	font-size: 1.1em;
}

 td {
	text-align: left;
		
}

div#member {
	position: absolute;
	top: 50px;
	left: 10px;
}


div#name {
	position: absolute;
	top: 80px;
	left: 10px;
}

div#address {
	position: absolute;
	top: 220px;
	left: 10px;
}

div#contact {
	position: absolute;
	top: 80px;
	left: 425px;
}


div#status {
	position: absolute;
	top: 490px;
	left: 10px;
}

div#accounts {
	position: absolute;
	top: 320px;
	left: 425px;
}

div#eDepost {
	position: absolute;
	top: 100px;
	left: 400px;
}

div#eLog {
	position: absolute;
	top: 100px;
	left: 500px;
}

div#submit {
	position: absolute;
	top: 610px;
	left: 425px;
}



