Dear {{ task.member.user.first_name }},

Your Mariposa Food Co-op member work shift is scheduled for:
    Week of: {{ task.time_minus_six_days|date:"l, F j" }} to {{ task.time|date:"l, F j, Y" }}
    Job: {{ task.job }}
    Account: {{ task.account }}

Please call the store (215-729-2121) at the beginning of your week to
be scheduled (unless you have a compost shift).

If you cannot work during your assigned week or if you have banked
hours you want to use, you may call the co-op at 215-729-2121 no later
than Friday of your assigned week. If you do not have banked hours,
you will then need to scheduled and work a makeup.

Please be aware a missed shift without timely notice (with the
exceptions of emergencies/sickness) will freeze your account: no one
will be able to shop on the account until all owed hours are made-up.
Make-ups can be scheduled through the store. Remember, the co-op
depends on your work as a member, so please make every effort to
attend as scheduled. 

We'll see you soon!

Mariposa Food Co-op

