Dear {{ new_member.first_name }},

Thanks for joining Mariposa Food Coop!

For confirmation, here is the information you submitted:

First Name: {{ new_member.first_name }}
Last Name: {{ new_member.last_name }}
Email: {{ new_member.email }}
Phone: {{ new_member.phone }}
Street Address: {{ new_member.address1 }}
City: {{ new_member.city }}
Zip Code: {{ new_member.postal_code }}
Orientation: {{ new_member.orientation.name }}
Member Equity: {{ new_member.equity_paid }}.00

If you signed up for an orientation it will be held at our our store at 4824 Baltimore Avenue. 

Please note that, while the new store will be wheelchair accessible, the conference room requires climbing stairs. Please let us know if this impacts your ability to attend.

If you are a returning member I will be in touch with you shortly to re-activate your membership.

Mariposa Food Co-op has both working and non-working member options. Interested in learning more? Click here for information and to get a jump start on setting up your member workshift. http://www.mariposa.coop/why-be-a-working-member/

We look forward to meeting you!

Dana Barnett
Membership Coordination
Mariposa Food Co-op
4824 Baltimore Ave.
Philadelphia, Pa 19143
215-729-2121 
www.mariposa.coop
