Dear Thomas,

Thanks for joining Mariposa Food Coop!

For confirmation, here is the information you submitted:

First Name: Thomas
Last Name: Magee
Email: thomas.m.magee@gmail.com
Phone: 215-939-7722
Street Address: 230 Buckingham Place
City: Philadelphia
Zip Code: 19104
Orientation: Wed, March 7, 6:30pm – 8:30pm
Member Equity: 200.00

If you signed up for an orientation it will be held at our new location at 4824 Baltimore Avenue. We will meet just around the corner from the front of the store on 49th Street. As you walk around the corner, our back gate is the first iron gate that you will see. We will meet you at the gate.

Please note that, while the new store will be wheelchair accessible, the construction entrance is not. We are working to find an accessible space for orientation asap. Please contact us if this impacts your ability to attend orientation.

If you are a returning member I will be in touch with you shortly to re-activate your membership.

We look forward to meeting you!

Dana Barnett
Mariposa Food Co-op
Membership Coordination
