Dear {{ first_name}},

Thank you for letting us know your orientation preference!

If you chose an orientation see below for details. If you are a former member or couldn't make these dates I will be in touch with you shortly to discuss your membership.

First Name: {{ first_name }}
Last Name: {{ last_name }}
Email: {{ email }}
Phone: {{ phone }}
Orientation: {{ orientation }}

Orientation Information: The orientation will be held at our new location at 4824 Baltimore Avenue. We will meet just around the corner from the front of the store on 49th Street. As you walk around the corner, our back gate is the first iron gate that you will see. We will meet you at the gate.

Please note that, while the new store will be wheelchair accessible, the construction entrance is not. We are working to find an accessible space for orientation asap.

If you have any questions, let me know.

Take care,

Dana Barnett
Membership Coordination
Mariposa Food Co-op
4726 Baltimore Ave.
Philadelphia, Pa 19143
215-729-0303 (Office)
215-729-2121 (store)
www.mariposa.coop
