Dear {{ first_name}},

Thank you for letting us know your orientation preference!

If you chose an orientation see below for details. If you are a former member or couldn't make these dates I will be in touch with you shortly to discuss your membership.

First Name: {{ first_name }}
Last Name: {{ last_name }}
Email: {{ email }}
Phone: {{ phone }}
Orientation: {{ orientation }}

Orientation Information: The orientation will be held at our new location at 4824 Baltimore Avenue. 

Please note that, while the new store will be wheelchair accessible, the conference room requires climbing stairs. Please let us know if this impacts your ability to attend.

Mariposa Food Co-op has both working and non-working member options. Interested in learning more? Click here for information and to get a jump start on setting up your member workshift. http://www.mariposa.coop/why-be-a-working-member/

If you have any questions, let me know.

Take care,

Dana Barnett
Membership Coordination
Mariposa Food Co-op
4824 Baltimore Ave.
Philadelphia, Pa 19143
215-729-2121 
www.mariposa.coop
