<div id=list_cancel >Cancel</div>

{% if accounts %}
    <div id=account_list >
    {% for id, name in accounts.items %}
        <div class=account_choice id={{ id }} >{{ name }}</div>
    {% endfor %}
    </div>
{% endif %}

{% if account_members %}
    <div id=account_members >
    {% for id, name in account_members.items %}
        <div class=member_choice id={{ id }} >{{ name }}</div>
    {% endfor %}
    </div>
{% endif %}
</div>
{% if members %}
    <div class=other_member_choice >------- Other members ---------</div>
    <div id=other_members >
    {% for id, name in members.items %}
        <div class=other_choice id={{ id }} >{{ name }}</div>
    {% endfor %}
    </div>
{% endif %}
