{% block page_menu %}
{% load active %}
  <ul id="local-nav">
    <li><a href="{% url hours_balance %}"{% active_class request 'accounting/hours_balance' %}>Hours Balance</a></li>
    <li><a href="{% url transaction %}"{% active_class request 'accounting/transaction' %}>Transaction</a></li>
    <li><a href="{% url cashsheet_input %}"{% active_class request 'accounting/cashsheet_input' %}>Cashsheet Input</a></li>
    <li class="last-item"><a href="{% url close_out %}"{% active_class request 'accounting/close_out' %}>Close Out</a></li>
  </ul>
{% endblock %}
