{% load messmoney %}

<form action="{% url cashsheet_input %}" method="POST" id="reverse_form">
<input type="hidden" name="reverse_id" id="id_reverse_id">
<input type="hidden" name="reverse_reason" id="id_reverse_reason">
<input type="hidden" name="action" value="Reverse">
</form>

<table class="data" >
  <tr>
    <th>ID</th>
    <th>Time</th>
    <th>Account</th>
    <th>Member</th>
    <th>Note</th>
    <th>Purchase Type</th>
    <th>Purchase Amount</th>
    <th>Payment Type</th>
    <th>Payment Amount</th>
    <th>Account<br />Balance</th>
    <th>Entered<br />By</th>
  </tr>
  {% if transactions %}
    {% for transaction in transactions|dictsortreversed:"id" %}
  <tr class="{% cycle 'odd' 'even' %}" >
    <td>{{ transaction.id }}</td>
    <td class="nowrap">{{ transaction.timestamp|date:"n/j/Y g:iA" }}</td>
    <td><a href="{{ transaction.account.get_absolute_url }}">{{ transaction.account }}</a></td>
    <td>{% if transaction.member %}<a href="{{ transaction.member.get_absolute_url }}">{{ transaction.member }}</a>{% endif %}</td>
    <td>{{ transaction.note_plus_spaces }}</td>
    <td>{{ transaction.get_purchase_type_display }}</td>
    <td>{% if transaction.purchase_amount %}{{ transaction.purchase_amount|messmoney }}{% endif %}</td>
    <td>{{ transaction.get_payment_type_display }}</td>
    <td>{% if transaction.payment_amount %}{{ transaction.payment_amount|messmoney:"payment" }}{% endif %}</td>
    <td>{{ transaction.account_balance|messmoney }}</td>
    <td>{{ transaction.entered_by.username }}{% if can_reverse %} <input type="button" value="X" onclick="reverse_trans({{ transaction.id }}, '{{ transaction.account|addslashes }}');">{% endif %}</td>
  </tr>
    {% endfor %}
  {% endif %}
</table>

