{% extends "base.html" %}

{% block content %}
<div id="double-column">
  <div id="primary-content-wrapper">
  <h2>Search for Members</h2>
  {% include "telethon/snippets/search.html" %}
  <table class="data">
    <tr>
      <th>Name</th>
      <th>Accounts</th>
      <th>Phone</th>
      <th>Fundraising History</th>
    </tr>
   {% for member in results %}
    <tr>
      <td><a href="{% url telethon-member member.user.username %}">{{ member }}</a></th>
      <td>
       {% for accountmember in member.accountmember_set.all %}
         {{ accountmember.account }}{% if accountmember.shopper %} (proxy){% endif %}{% if not forloop.last %}; {% endif %}
       {% endfor %}
      </td>
      <td>
       <span {% if member.do_not_call %}class="donotcall"{% endif %}>
         {% for phone in member.phones.all %}
           {{ phone }}{% if not forloop.last %}<br>{% endif %}
         {% endfor %}
       </span>
      </td>
      <td>
       {% for call in member.call_set.all %}
         {{ call.timestamp|date:"n/j" }}: {% if call.loan %}{{ call.loan_term_brief }} ${{ call.loan.purchase_amount }}{% else %}{% if call.pledge_amount %}pledged ${{ call.pledge_amount }}{% endif %}{% endif %} - {{ call.note }} ({{ call.caller }}){% if not forloop.last %}<br>{% endif %}
       {% endfor %}
      </td>
    </tr>
   {% endfor %}
  </table>

  </div>
</div>
{% endblock %}
