{% extends "base.html" %}

{% block content %}
<div id="left-column">
  {% include "telethon/snippets/search.html" %}
  <div id="primary-content-wrapper">
    <h2>Fundraising from {{ member }}</h2>

    {% if do_not_call %}
      <div class="attention">
        <p class="action">Do not call</p>
      </div>
    {% endif %}

    <div class="profile">
     {% with member.accountmember_set.all|first as am %}
     {% include "membership/snippets/accountmember.html" %}
     {% endwith %}
    </div>

  <h3>Fundraising History</h3>
  <table class="data">
    <tr>
      <th>Date</th>
      <th>Entered By</th>
      <th>Notes</th>
      <th>Pledge</th>
      <th>Loan</th>
    </tr>
    {% for call in member.call_set.all %} 
    <tr>
      <td>{{ call.timestamp|date:"n/j" }}</td>
      <td>{{ call.caller }}</td>
      <td>{{ call.note|linebreaksbr }}
        {% if call.do_not_call %}<b>[do not call]</b>{% endif %}
      </td>
      <td>{% if call.pledge_amount %}${{ call.pledge_amount }}{% endif %}</td>
      <td>
        {% if call.loan_term %}
        {{ call.loan_term_brief }} ${{ call.loan.purchase_amount }}
        {% endif %}
      </td>
    </tr>
    {% endfor %} 
  </table>

  <h3>New Fundraising Event</h3>
    <form class="standard" method="post">
      <table>
        {{ callform }}
        {% csrf_token %}
      </table>
      <input type="submit" value="Save">
    </form>

  </div>
</div>
<div id="right-column">
  {% include "membership/snippets/acctinfo.html" %}
</div>
{% endblock %}

