{% extends "base.html" %}

{# same template can be used for Address, Phone or Email #}
{% block content %}
<div id="left-column">
  <div id="primary-content-wrapper">
	<h2>Add {{ medium }} for {{ this_user.get_full_name }} 
      ({{ this_user.username }})</h2>
	<form class="standard" method="post">
      <table class="form-table">
        {{ form }}
        <tr>
          <td></td>
          <td><input class="button" type="submit" value="Save"/></td>
        </tr>
      </table>
	</form>
  </div>
</div>
{% endblock %}
