{% extends "base.html" %}

{% block content %}
<div id="double-column">
  <div id="primary-content-wrapper">
    <form class="standard" method="post">
      <table class="form-table">
      
        <input type="hidden" name="referer" value="{{ referer }}"/>
          {% include "profiles/snippets/address_form.html" %}
        <tr>
          <td>&nbsp;</td>
          <td><input class="button" type="submit" value="Save"/></td>
        </tr>
      </table>
    </form>
  </div><!--end primary-content-wrapper-->
</div><!-- end double-column-->
{% endblock %}
