{% extends "base.html" %}

{% block content %}
  <div id="double-column">
    {% include "membership/snippets/page_menu.html" %}
    <div id="primary-content-wrapper">
      {% if user.is_staff %}	
      <form action="{% url account-add %}">
        <div class="add-button">
          <input type="submit" value="Add a new account!" />
        </div>
      </form>
      <h2>Account List</h2>
      <form class="sorter" method="GET">
        <ul class="clearfix">
          <li> 
            <label for="id_search">Search:</label> {{ form.search }}
            <label for="id_sort_by">Sort by:</label> {{ form.sort_by }}
          </li>
          <li class="button"><input type="submit" value="Filter" class="button" /></li>
          <li>
            {{ form.active }} <label for="id_active">active</label>
            {{ form.inactive }} <label for="id_inactive">inactive</label>
          </li>
        </ul>
      </form>
      {% endif %}
      {% include "snippets/pagination.html" %}
      <table class="data">
        <tr>
          <th>Name</th>
          <th>Members</th>
          <th>Balance</th>
        </tr>
        {% for account in page.object_list %}
          <tr class="{% cycle 'odd' 'even' %}">
            <td>
              <a href="{% url account account.id %}">{{ account.name }}</a>
            </td>
            <td>
              {% for member in account.members.active %}
                <ul>
                  <li>
                    <a href="{% url member member.user.username %}">{{ member }}</a> {{ member.user.get_profile.phones.all|first }} {{ member.user.get_profile.emails.all|first }}
                  </li>
                </ul>
              {% endfor %}
            </td>
            <td>{{ account.balance|floatformat:2 }}</td>
          </tr>
        {% endfor %}
      </table>
      {% include "snippets/pagination.html" %}
    </div>
  </div>
{% endblock %}

