{% extends "base.html" %}
{% load messmoney %}

{% block content %}
  <div id="left-column">

    <ul id="local-nav">
      <li><a href="{% url members %}">Members</a></li>
      <li class="last-item"><a class="active" href="{% url accounts %}">Accounts</a></li>
    </ul>
    <div id="primary-content-wrapper">

      <h2 class="accountname">
        {% if user.is_staff %}
          <span class="accountactionlinks">
            <a href="{% url account-edit account.id %}">edit</a>
            <a href="{% url loa-account account.id %}">loa</a>
            <a href="{% url depart-account account.id %}">depart</a>
          </span>
        {% endif %}
        {{ account }}
      </h2>

      {% if request.user.is_staff and account.note %}
        <div class="details">
          <h5 class="accountnotes">Account Notes</h5>
          {{ account.note|linebreaks }}
        </div>
      {% endif %}

      {% if account.accountmember_set.active_depositor %}
        <h2 class="accountmembersection">
          Deposit Holders ({{ account.active_member_count }})
        </h2> 

        <div class="profile profile-deposit_holder">
          {% with "deposit_holder" as section %}
          {% for am in account.accountmember_set.active_depositor %}
            {% include "membership/snippets/accountmember.html" %}
          {% endfor %}
          {% endwith %}
        </div>
      {% endif %}

      {% if account.accountmember_set.active_shopper %}
        <h2 class="accountmembersection">Proxy Shoppers</h2>
        <div class="profile profile-proxy">
          {% with "proxy" as section %}
          {% for am in account.accountmember_set.active_shopper %}
            {% include "membership/snippets/accountmember.html" %}
          {% endfor %}
          {% endwith %}
        </div>
      {% endif %}

      {% if account.accountmember_set.inactive %}
        <h2 class="accountmembersection">Departed Members</h2>
        <div class="profile profile-inactive">
          {% with "departed" as section %}
          {% for am in account.accountmember_set.inactive %}
            {% include "membership/snippets/accountmember.html" %}
          {% endfor %}
          {% endwith %}
        </div>
      {% endif %}

      <div id="transactions">
        <h2 class="accountmembersection">Transaction Log</h2>
        <table class="data" >
          <tr>
            <th>ID</th>
            <th>Time</th>
<!--            <th>Member</th> -->
            <th>Note</th>
            <th>Purchase Type</th>
            <th>Purchase Amount</th>
            <th>Payment Type</th>
            <th>Payment Amount</th>
            <th>Account Balance</th>
          </tr>
          {% for transaction in transactions|dictsortreversed:"id" %}
          <tr class="{% cycle 'odd' 'even' %}" >
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.timestamp|date:"n/j/Y g:iA" }}</td>    
<!--            <td>{{ transaction.member.user.get_full_name }}</td> -->
            <td>{{ transaction.note }}</td>
            <td>{{ transaction.get_purchase_type_display }}</td>
            <td>{{ transaction.purchase_amount|messmoney }}</td>
            <td>{{ transaction.get_payment_type_display }}</td>
            <td>{{ transaction.payment_amount|messmoney:"payment" }}</td>
            <td>{{ transaction.account_balance|messmoney }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <div id="right-column">
    {% include "membership/snippets/acctinfo.html" %}

  </div>
{% endblock %}
