{% extends "base.html" %}

{% block content %}
  <div id="double-column">
    {% include "membership/snippets/page_menu.html" %}
    <div id="primary-content-wrapper">
      <form action="{% url account-add %}">
        <div class="add-button">
          <input type="submit" value="Add a new account!" />
        </div>
      </form>
      <h2>Account List</h2>
      <form class="sorter" method="GET">
        <ul class="clearfix">
          <li> 
            <label for="id_search">Search:</label> {{ form.search }}
            <label for="id_sort_by">Sort by:</label> {{ form.sort_by }}
          </li>
          <li class="button"><input type="submit" value="Filter" class="button" /></li>
          <li>
            {{ form.active }} <label for="id_active">active</label>
            {{ form.can_shop }} <label for="id_active">can shop</label>
            {{ form.ebt_only }} <label for="id_active">EBT only</label>
          </li>
        </ul>
      </form>
      {% include "snippets/pagination.html" %}
      <table class="data">
        <tr>
          <th>Name</th>
          <th>Members</th>
          <th>Contact</th>
          <th>Balance</th>
        </tr>
        {% for account in page.object_list %}
          <tr class="{% cycle 'odd' 'even' %}">
            <td>
              <a href="{% url account account.id %}">{{ account.name }}</a>
            </td>
            <td>
              {% for member in account.members.all %}
                <ul>
                  <li>
                    <a href="{% url member member.user.username %}">{{ member }}</a>
                  </li>
                </ul>
              {% endfor %}
            </td>
            <td>
              {% for am in account.accountmember_set.all %}
              {% if am.account_contact %}
              <p>
                <a href="{% url member am.member.user.username %}">{{ am.member }}</a>
              </p>
              <ul>
                <li>{{ am.member.user.get_profile.phones.all|first }}</li>
                <li>{{ am.member.user.get_profile.emails.all|first }}</li>
              </ul>
              {% endif %}
              {% endfor %}
            </td>
            <td>{{ account.balance|floatformat:2 }}</td>
          </tr>
        {% endfor %}
      </table>
      {% include "snippets/pagination.html" %}
    </div>
  </div>
{% endblock %}

