{% extends "base.html" %}

{% block content %}

<table id='table' >
    <th>Name</th>
    <th>Members</th>
    <th>Contact</th>
    <th>Balance</th>
    {% for account in account_list %}
    <tr>
        <td><a href=/account/form/{{ account.id }} >
            <img class='b100em' src='/media/images/Edit.png' />
        </a>
            <a href=/account/{{ account.id }}>{{ account.name }}</a>
        </td>
        <td>{% for member in account.members.all %}
                <a href=/member/{{ member.id }} >{{ member }}</a><br />
            {% endfor %}
        </td>
        <td><a href=/account/{{ account.id }}>{{ account.contact }}<br /></a>
            {{ account.contact.person.phones.all|first }}<br />
            {{ account.contact.person.emails.all|first }}
        </td>

    </tr>
{% endfor %}
</table>
{% endblock %}

