{% extends "membership/base.html" %}

{% block head %}
  <script type="text/javascript" src="{{ MEDIA_URL }}yui/yahoo/yahoo-min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}yui/event/event-min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}yui/connection/connection-min.js"></script> 
  <script type="text/javascript" src="{{ MEDIA_URL }}yui/yahoo-dom-event/yahoo-dom-event.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/membership.js"></script>
{% endblock %}

{% block content %}
  <div id="double-column">
    {% include "membership/snippets/page_menu.html" %}
    <div id="primary-content-wrapper">
      <h2>
        {% if edit %}
          Edit account: {{ account }} 
        {% else %}
          Add account
        {% endif %}
      </h2>
      <form class="standard" method="post">
        {% csrf_token %}
        <div class="section">
          <h3>Main</h3>
          <table class="form-table">
            {{ form }}
          </table>
        </div>
        {% include 'membership/snippets/formsets.html' %}
        <div class="save">
          <input type="submit" class="button" value="Save"/> 
          <input type="submit" class="button" name="cancel" value="Cancel" />
          <input type="submit" class="button" name="delete" value="Delete" onclick="return confirm('Do you really wish to delete account &quot;{{ account }}&quot; forever and ever?');" id="delete" />
        </div>
      </form>
    </div>
  </div>
  <!--
  <div id="right-column">
    Content here.
  </div>
  -->
{% endblock %}

{% block pop_up %}
{% endblock %}
