{% extends "base.html" %}

{% block content %}
  <div id="left-column">
    <div id="primary-content-wrapper">
      <h2>Account Profile</h2>
      <div class="profile">
        <div class="profile-links">
          <h5>Members</h5>
          <ul>
            {% for member in account.members.all %}
              <li><a href="{% url member member.user.username %}">{{ member }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <h4>{{ account }}</h4>
        <ul class="quick-info">
          <li>
            <img src="{{ MEDIA_URL }}images/twotiny/icon-question-mark.gif" alt="Can Shop"/> 
            {{ account.can_shop }}
          </li>
          <li>
            <img src="{{ MEDIA_URL }}images/twotiny/icon-clipboard.gif" alt="Contact"/> 
            <a href="{% url member account.contact.user.username %}">{{ account.contact }}</a>
          </li>
          <li>
            <img src="{{ MEDIA_URL }}images/twotiny/icon-calendar.gif" alt="Balance"/> 
            {{ account.balance|floatformat:2 }}
          </li>
        </ul>
        <div class="details">
          Notes or things will go here.
        </div>
        <div id="transactions">
          <h2>Transaction Log</h2>
          <table class="data" >
            <tr>
              <th>ID</th>
              <th>Time</th>
              <th>Member</th>
              <th>Note</th>
              <th>Purchase Type</th>
              <th>Purchase Amount</th>
              <th>Payment Type</th>
              <th>Payment Amount</th>
              <th>Account Balance</th>
            </tr>
            {% for transaction in transactions|dictsortreversed:"id" %}
            <tr class="{% cycle 'odd' 'even' %}" >
              <td>{{ transaction.id }}</td>
              <td class="nowrap">{{ transaction.timestamp|date:"g:i:s A" }}</td>    
              <td>{{ transaction.member.user.get_full_name }}</td>
              <td>{{ transaction.note }}</td>
              <td>{{ transaction.get_purchase_type_display }}</td>
              <td>{{ transaction.purchase_amount|floatformat:2 }}</td>
              <td>{{ transaction.get_payment_type_display }}</td>
              <td>{{ transaction.payment_amount|floatformat:2 }}</td>
              <td>{{ transaction.account.balance|floatformat:2 }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="right-column">
    <h3>Icon Key</h3>
    <ul id="icon-key">
      <li><img src="{{ MEDIA_URL }}images/twotiny/icon-question-mark.gif"/> Can Shop</li>
      <li><img src="{{ MEDIA_URL }}images/twotiny/icon-clipboard.gif"/> Contact</li>
      <li><img src="{{ MEDIA_URL }}images/twotiny/icon-calendar.gif"/> Balance</li>
    </ul>
  </div>
{% endblock %}
