{% extends "base.html" %}

{% block content %}
<div id="double-column">
  <div id="primary-content-wrapper">
	<h2>Active Global Item</h2>
	<h3>Active local item</h3>
    <table class="data">
      <tr>
        <th>Name</th>
        <th>Members</th>
        <th>Contact</th>
        <th>Balance</th>
         {% for account in account_list %}
      </tr>
	  <tr class="{% cycle 'odd' 'even' %}">
		<!-- FIXME: account/form/# does not yet exist -->
        <td>
	      <a href='{{ PROJECT_URL }}account/form/{{ account.id }}' >
		    <img class='b100em' src='{{ MEDIA_URL }}images/Edit.png' />
		  </a>
          <a href={{ PROJECT_URL }}membership/account/{{ account.id }}>
            {{ account.name }}
          </a>
        </td>
        <td>{% for member in account.members.all %}
                <a href='{{ PROJECT_URL }}membership/member/{{ member.id }}' >
                    {{ member }}
                </a>
                <br />
            {% endfor %}
        </td>
        <td><a href='{{ PROJECT_URL }}membership/account/{{ account.id }}'>
                {{ account.contact }}<br />
            </a>
            {{ account.contact.person.phones.all|first }}<br />
            {{ account.contact.person.emails.all|first }}
        </td>

      </tr>
{% endfor %}
</table>
</div>
</div>
{% endblock %}

