{% extends "base.html" %}

{% block content %}
  <div id="left-column">
    <ul id="local-nav">
      <li><a class="active" href="{% url members %}">Members</a></li>
      <li class="last-item"><a href="{% url accounts %}">Accounts</a></li>
    </ul>

    <div id="primary-content-wrapper">
      <h2>Confirm {{ account.name }} departures</h2>
      <p>Pressing 'depart' will mark all members on this account as departed, 
        and remove each of them from all workshifts as of their departed date.
        (If departed date is in the past, removes as of today).</p>
      <p>Departing members:</p>
      <ul>
        {% for mem in account.members.all %}
        <li>{{ mem.user.get_full_name }} ({{ mem.user.username }})</li>
        {% endfor %}
      </ul>
      <p>Departure date:</p>
      <form method="POST">
        {{ form }}
        <div>
          <input type="submit" value="Depart" name="depart">
          <input type="submit" value="Cancel" name="cancel">
        </div>
      </form>
    </div>
  </div>
{% endblock %}


      
