{% extends "membership/base.html" %}

{% block head %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/live_address.js"></script>
{% endblock %}

{% block content %}
  <div id="left-column">
    <div id="primary-content-wrapper">
      <h2>Members</h2>
      <h3>Edit Profile: {{ member.user.get_full_name }} 
	  	({{ member.user.username }})</h3>
      {% if member %}
      {% endif %}
      <form class="standard" method="post">
        <table class="form-table">
          {% for f in form %}
		  	{{ f }}
		  {% endfor %}
        <tr><td></td><td><input type="submit" value="Save"/></td></tr>
        </table>
      </form>
    </div>
  </div>
  <div id="right-column">
    Content here.
  </div>

<!--
    <h2>Addresses</h2>
    <table>
        {% for address in member.person.addresses.all %}
            <tr><th>{{ address.get_type_display }}</th>
                    <td>{% if address.address_1 %}
                            {{ address.address_1 }}<br />
                        {% endif %}
                        {% if address.address_2 %}
                            {{ address.address_2 }}<br />
                        {% endif %}
                        {{ address.city }}, {{ address.state }}
                        {{ address.postal_code }}<br />
                        {{ address.country }}
            </td>
            <td><a href='{{ PROJECT_URL }}address/form/{{ address.id }}'>
                    <img class=b125em src='{{ MEDIA_URL }}images/Pencil32.png' />
                </a>
                <a href='{{ PROJECT_URL }}address/form/{{ address.id }}'>
                    <img class=b125em src='{{ MEDIA_URL }}images/Minus32.png' />
                </a>
            </td>
        </tr>
        {% endfor %}
        <tr><th>Add Address</th><td colspan='2' >
                <input size='40' id='address' type='text' name='address' 
                        onclick='show_message ("address",
                                            "Typing will display matches.")'
			            onkeyup='find_address(this, event)'/>
            </td></tr>
    </table>
    <h2>Email Addresses</h2>
    <table>
        {% for email in member.person.emails.all %}
            <tr><th>{{ email.get_location_display }}<br />
                {{ email.get_type_display }}
            </th>
            <td>{{ email.email }}</td>
            <td><a href='{{ MEDIA_URL }}email/form/{{ email.id }}'>
                    <img class=b125em src='{{ MEDIA_URL }}images/Pencil32.png' />
                </a>
                <a href='{{ MEDIA_URL }}email/form/{{ email.id }}'>
                    <img class=b125em src='{{ MEDIA_URL }}images/Minus32.png' />
                </a>
            </td>
        </tr>
            {% endfor %}
    </table>
    <h2>Phone Numbers</h2>
    <table>
        {% for phone in member.person.phones.all %}
        <tr>
            <th>
                {{ phone.get_location_display }}<br />
                {{ phone.get_type_display }}
            </th>
            <td>
                {{ phone.number }}
                {% if phone.ext %}Ext: {{ phone.ext }}{% endif %}
            </td>
            <td><a href='{{ MEDIA_URL }}phone/form/{{ phone.id }}'>
                    <img class=b125em src='{{ MEDIA_URL }}images/Pencil32.png' />
                </a>
                <a href='{{ MEDIA_URL }}phone/form/{{ phone.id }}'>
                    <img class=b125em src='{{ MEDIA_URL }}images/Minus32.png' />
                </a>
            </td>

        </tr>
            {% endfor %}
        </table>
-->

{% endblock %}

{% block pop_up %}
<div id='message' onclick='hide_message ()' ></div>
<div id=list ></div>
<div id=listShadow ></div>
{% endblock %}
