{% extends "base.html" %}

{% block content %}
<div id="double-column">
  <ul id="local-nav">
    <li><a class="active" href="{% url members %}">Members</a></li>
    <li class="last-item"><a href="{% url accounts %}">Accounts</a></li>
  </ul>
  <div id="primary-content-wrapper">
    <h2>Member List</h2>
    <form class="sorter" method="GET">
      <ul class="clearfix">
        <li><label for="id_search">Search:</label> {{ form.search }} </li>
        <li><label for="id_sort_by">Sort by:</label> {{ form.sort_by }}</li>
        <li>{{ form.active }} <label for="id_active">active</label></li>
        <li>{{ form.inactive }} <label for="id_inactive">inactive</label></li>
        <li>{{ form.missing }} <label for="id_missing">missing</label></li>
        <li>{{ form.leave_of_absence }} <label for="id_leave_of_absence">leave of absence</label></li>
        <li>{{ form.quit }} <label for="id_quit">quit</label></li>
        <li class="button"><input type="submit" value="Filter" class="button" /></li>
      </ul>
    </form>  
    {% include "snippets/pagination.html" %}
    <table class="data">
      <tr>
        <th>Name</th>
        <th>Accounts</th>
        <th>Status</th>
        <th>Date Joined</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>    
      {% for member in page.object_list %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td>
          <a href='{% url member member.user.username %}'>{{ member }}</a>
        </td>
        <td>
           <ul>
             {% for account in member.accounts.all %}
                 <li><a href="{% url account account.id %}">{{ account }}</a></li>
             {% endfor %}
           </ul>
        </td>
        <td>{{ member.get_status_display }}</td>        
        <td>{{ member.date_joined }}</td>
        <td>
          <ul>
            {% for email in member.emails.all %}
            <li>{{ email.get_type_display }}: {{ email.email }}</li>
            {% endfor %}
          </ul>
        </td>
        <td>
          <ul>
            {% for phone in member.phones.all %}
            <li>{{ phone.get_type_display }}: {{ phone.number }}</li>
            {% endfor %}
          </ul>
        </td>     
      </tr>
      {% endfor %}
    </table>
    {% include "snippets/pagination.html" %}
  </div>
</div>
{% endblock %}

