{% extends "base.html" %}

{% block content %}
  <div id="left-column">
      <ul id="local-nav">
        <!--<li><a href="">local nav item</a></li>
        <li><a href="">local nav item</a></li>-->
		<!-- <li class="last-item"><a href="{% url member-edit member.user.username%}">edit profile</a></li> -->
      </ul>
    <div id="primary-content-wrapper">
      <h2>Members</h2>
      <h3>Member Profile</h3>
      <div class="profile">
        <div class="profile-links">
          <h5>Accounts</h5>
          <ul>
            {% for account in member.accounts.all %}
              <li><a href="{% url account account.id %}">{{ account }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <h4>
		{% if caneditprofile %}	
			<a href="{% url member-edit member.user.username %}">edit</a>
		{% endif %}
		{{ member.user.get_full_name }} 
		</h4>
        <ul class="quick-info">
          <li><img src="{{ MEDIA_URL }}images/twotiny/icon-question-mark.gif" alt="Status"/> {{ member.get_status_display }}</li>
          <li><img src="{{ MEDIA_URL }}images/twotiny/icon-clipboard.gif" alt="Work Status"/> {{ member.get_work_status_display }}</li>
          <li><img src="{{ MEDIA_URL }}images/twotiny/icon-key.gif" alt="Has Key"/> {{ member.has_key }}</li>
          <li><img src="{{ MEDIA_URL }}images/twotiny/icon-calendar.gif" alt="Date Joined"/> {{ member.date_joined }}</li>
        </ul>
        <div class="details clearfix">
		  {% if caneditprofile %}
		  <ul class="edit-contact-info">
			{% for medium in contactmedia %}
			<li><a class="add" href="{% url add_contact member.user.username,medium %}">
					add {{medium}}</a></li>
			{% endfor %}
	      </ul>
		  {% endif %}
          {% for address in profile.addresses.all %}
            {% include "profiles/snippets/address.html" %}
          {% endfor %}
          <p>
            {% for phone in profile.phones.all %}
              {{ phone }} ({{ phone.get_type_display }})
			 	{% if caneditprofile %}
<!--					<a href="">edit</a> -->
					<a class="remove" href="{% url remove_contact member.user.username %}?medium=phone&target={{ phone|urlencode }}">remove</a>
				{% endif %}
			  <br />
            {% endfor %} 
		</p><p>
            {% if member.user.email %}
			  WARNING: MESS is not designed to handle member.user.email.<br>
              <a href="mailto:{{ member.user.email }}">{{ member.user.email }}</a><br/>
            {% endif %}
            {% for email in profile.emails.all %}
              <a href="mailto:{{ email }}">{{ email }}</a> ({{ email.get_type_display }})
			  {% if caneditprofile %}
			  	<br /><a class="remove" href="{% url remove_contact member.user.username %}?medium=email&target={{ email|urlencode}}">remove</a>
			  {% endif %} <br/>
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="right-column">
    <h3>Icon Key</h3>
    <ul id="icon-key">
      <li><img src="{{ MEDIA_URL }}images/twotiny/icon-question-mark.gif"/> Status</li>
      <li><img src="{{ MEDIA_URL }}images/twotiny/icon-clipboard.gif"/> Work Status</li>
      <li><img src="{{ MEDIA_URL }}images/twotiny/icon-key.gif"/> Has Key</li>
      <li><img src="{{ MEDIA_URL }}images/twotiny/icon-calendar.gif"/> Date Joined</li>
    </ul>
  </div>
{% endblock %}
