{% extends "membership/base.html" %}

{% block head %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/yui/yahoo/yahoo-min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/yui/event/event-min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/yui/connection/connection-min.js"></script> 
  <script type="text/javascript" src="{{ MEDIA_URL }}js/yui/yahoo-dom-event/yahoo-dom-event.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/yui/animation/animation-min.js"></script> 
  <script type="text/javascript">
    function addNew(formsetPrefix, baseURL, height) {
      var totalForms = document.getElementById('id_' + formsetPrefix + '-TOTAL_FORMS');
      var sUrl = baseURL + '?index=' + totalForms.value;
      totalForms.value = parseInt(totalForms.value) + 1;
      var callback = {
        success: function(o) {
          var newFieldsTable = document.createElement('table');
          newFieldsTable.innerHTML = o.responseText;
          var newFields = document.createElement('div');
          newFields.className = 'added';
          newFields.appendChild(newFieldsTable);
          var writeRoot = document.getElementById(o.argument[0] + '-writeroot');
          writeRoot.parentNode.insertBefore(newFields, writeRoot);
          newFields = writeRoot.previousSibling;
          var addAnim = new YAHOO.util.Anim(newFields, 
            {height: {to: height}}); //, 1, YAHOO.util.Easing.easeIn);
          addAnim.animate();
          addAnim.onComplete.subscribe(function() {
            newFields.getElementsByTagName('select')[0].focus()
          });
        },
        failure: function(o) {},
        argument: [formsetPrefix],
      };
      var transaction = YAHOO.util.Connect.asyncRequest('GET', sUrl, callback, null);
    }
  </script>
{% endblock %}

{% block content %}
  <div id="left-column">
    <div id="primary-content-wrapper">
      <h2>Edit Profile: {{ member.user.get_full_name }} 
	  	({{ member.user.username }})</h2>
      {% if member %}
      {% endif %}
      <form class="standard" method="post">
        {% if is_errors %}
          <div class="error-message">
            <h3>You have problems.</h3>
            <p>Please see specific errors in the form below.</p>
          </div>
        {% endif %}
        <div class="section">
          <h3>Main</h3>
          <table>
            {{ user_form }}
            {{ member_form }}
            {{ related_accounts_form }}
          </table>
        </div>
        {% for formset, header in formsets %}
        <div class="section">
          <h3>{{ header }}</h3>
          {{ formset.management_form }}
          {% for form in formset.forms %}
          <table>
            {{ form }}
          </table>
          {% endfor %}
          <div id="{{ formset.prefix }}-writeroot" class="add">
            <a href="{% url add_contact member.user.username,formset.prefix %}" onclick="addNew('{{ formset.prefix }}', '{% url profiles-form formset.prefix %}', {% ifequal formset.prefix 'address' %}250{% else %}80{% endifequal %}); return false;" id="{{ formset.prefix }}-add">Add</a>
          </div>
        </div>
        {% endfor %}
        <table>
          <tr><th></th><td><input type="submit" class="button" value="Save"/></td></tr>
        </table>
      </form>
    </div>
  </div>
  <div id="right-column">
    Content here.
  </div>
{% endblock %}

{% block pop_up %}
<div id='message' onclick='hide_message ()' ></div>
<div id=list ></div>
<div id=listShadow ></div>
{% endblock %}
