{% extends "base.html" %}

{% block content %}
<div id="double-column">
  {% include "membership/snippets/page_menu.html" %}
  <div id="primary-content-wrapper">
    <form action="{% url member-add %}">
      <div class="add-button">
        <input type="submit" value="Add a new member!" />
      </div>
    </form>
    <h2>Member List</h2>
    <form class="sorter">
      <ul class="clearfix">
        <li>
          <label for="id_search">Search:</label> {{ form.search }} 
          <label for="id_sort_by">Sort by:</label> {{ form.sort_by }}
        </li>
        <li class="button"><input type="submit" value="Filter" class="button" /></li>
        <li>
          {{ form.active }} <label for="id_active">active</label> 
          {{ form.missing }} <label for="id_missing">missing</label>
          {{ form.departed }} <label for="id_departed">departed</label>
        </li>
      </ul>
    </form>  
    {% include "snippets/pagination.html" %}
    <table class="data">
      <tr>
        <th>Name</th>
        <th>Accounts</th>
        <th>Date Joined</th>
        <th>Status</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>    
      {% for member in page.object_list %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td>
          <a href='{% url member member.user.username %}'>{{ member }}</a>
        </td>
        <td>
           <ul>
             {% for account in member.accounts.all %}
                 <li><a href="{% url account account.id %}">{{ account }}</a></li>
             {% endfor %}
           </ul>
        </td>
        <td>{{ member.date_joined }}</td>
        <td>{{ member.verbose_status }}</td>        
        <td>
          <ul>
            {% for email in member.emails.all %}
            <li>{{ email.get_type_display }}: {{ email.email }}</li>
            {% endfor %}
          </ul>
        </td>
        <td>
          <ul>
            {% for phone in member.phones.all %}
            <li>{{ phone.get_type_display }}: {{ phone.number }}</li>
            {% endfor %}
          </ul>
        </td>     
      </tr>
      {% endfor %}
    </table>
    {% include "snippets/pagination.html" %}
  </div>
</div>
{% endblock %}

