{% extends "membership/base.html" %}

{% block content %}
<script type="text/javascript" src="/media/js/base.js"></script>
<script type="text/javascript" src="/media/js/live_address.js"></script>

<form method='post' action=''>
    <h2>Name</h2>
    <table>
        <tr>
            <th>Name</th><td>{{ form.person }}</td>
            <th>User Name</th><td colspan='4' >{{ form.user }}</td>
        </tr>
    </table>
    <h2>Addresses</h2>
    <table>
        {% for address in member.person.addresses.all %}
            <tr><th>{{ address.get_type_display }}</th>
                    <td>{% if address.address1 %}
                            {{ address.address1 }}<br />
                        {% endif %}
                        {% if address.address2 %}
                            {{ address.address2 }}<br />
                        {% endif %}
                        {{ address.city }}, {{ address.state }}
                        {{ address.postal_code }}<br />
                        {{ address.country }}
            </td>
            <td><a href='/address/form/{{ address.id }}'>
                    <img class=b125em src='/media/images/Pencil32.png' />
                </a>
                <a href='/address/form/{{ address.id }}'>
                    <img class=b125em src='/media/images/Minus32.png' />
                </a>
            </td>
        </tr>
        {% endfor %}
        <tr><th>Add Address</th><td colspan='2' >
                <input size=40 id=addAddress type='text' name=addAddress 
                        onclick='showMessage ("addAddress",
                                            "Typing will display matches.")'
			            onkeyup='getAccounts(this, event)'/>
            </td></tr>
    </table>
    <h2>Email Addresses</h2>
    <table>
        {% for email in member.person.emails.all %}
            <tr><th>{{ email.get_location_display }}<br />
                {{ email.get_type_display }}
            </th>
            <td>{{ email.email }}</td>
            <td><a href='/email/form/{{ email.id }}'>
                    <img class=b125em src='/media/images/Pencil32.png' />
                </a>
                <a href='/email/form/{{ email.id }}'>
                    <img class=b125em src='/media/images/Minus32.png' />
                </a>
            </td>
        </tr>
            {% endfor %}
    </table>
    <h2>Phone Numbers</h2>
    <table>
        {% for phone in member.person.phones.all %}
        <tr>
            <th>
                {{ phone.get_location_display }}<br />
                {{ phone.get_type_display }}
            </th>
            <td>
                {{ phone.number }}
                {% if phone.ext %}Ext: {{ phone.ext }}{% endif %}
            </td>
            <td><a href='/phone/form/{{ phone.id }}'>
                    <img class=b125em src='/media/images/Pencil32.png' />
                </a>
                <a href='/phone/form/{{ phone.id }}'>
                    <img class=b125em src='/media/images/Minus32.png' />
                </a>
            </td>

        </tr>
            {% endfor %}
        </table>
        <input type='submit' value='Save' <td>
</form>

<div id=list ></div>
<div id=message></div>
{% endblock %}
