{% extends "base.html" %}

{% block content %}

<table id='table' >
    <th>Name</th>
    <th>Primary Account</th>
    <th>Job</th>
    <th>Current Status</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Address</th>
    {% for member in member_list %}
    <tr>
        <td><a href=/member/{{ member.pk }}> {{ member }} </a></td>
        <td>{{ member.account }}</td>
        <td>{{ member.job }}</td>
        <td>{{ member.get_status_display }}</td>        
        <td>{{ member.email_1 }}</td>
        <td>{{ member.phone_1 }}</td>
        <td>{{ member.address.address_1 }}</td>
        
    </tr>
{% endfor %}
</table>

{% endblock %}

