{% extends "base.html" %}

{% block content %}
  <div id="left-column">
    <ul id="local-nav">
      <li><a class="active" href="{% url members %}">Members</a></li>
      <li class="last-item"><a href="{% url accounts %}">Accounts</a></li>
    </ul>
    <div id="primary-content-wrapper">
      <h2>Remove {{ medium }} for {{ this_user.get_full_name }}
          ({{ this_user.username }})</h2>
      <h3>{{ medium|capfirst }} to be removed: {{ contact }}</h3>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="target" value="{{ contact.id }}" />
        <div>
          <input type="submit" value="Remove" />
          <input type="submit" value="Cancel" name="cancel" />
        </div>
      </form>
    </div>
  </div>
{% endblock %}
