<div id=list_cancel id=cancel onclick="set_member(this)";>Cancel</div>

{{ locals }}
{% if accounts %}
    {% for id, name in accounts.items %}
        <div class=list_choice id={{ id }}
		    onclick="set_account(this);">{{ name }}</div>
    {% endfor %}
{% endif %}

{% if account_members %}
    {% for id, name in account_members.items %}
        <div class=list_choice id={{ id }}
            onclick="set_member(this);">{{ name }}</div>
    {% endfor %}
{% endif %}

{% if members %}
    <div class=other_choice >------- Other members ---------</div>
    {% for id, name in members.items %}
        <div class=other_choice id={{ id }}
            onclick="confirm_other_member(this);">{{ name }}</div>
    {% endfor %}
{% endif %}
