/* Top Level stylesheet */

/*///////////////////////////////////////////////////////////////////*/

body {
    margin: 0;
    width: 700px;
    background: rgb(200,200,200);
    color: rgb(0,0,255);
    font-family: "Times New Roman",times,sans-serif;
    font-size: 16px;
}


div#field {
	position: relative;
	top: 60px;
}

a:link {
    color: rgb(0,100,255);
    text-decoration: none;
    
}

a:visited {
    color: rgb(0,100,255);
    background: rgb(200,200,200);
    text-decoration: none;
}
    
a:hover {
    color: rgb(0,50,50);
    background: rgb(150,180,255);
    text-decoration: none;
}


a.button:link {
    color: rgb(255,255,255);
    background: rgb(100,100,200);
    text-decoration: none;
    
}

a.button:visited {
    color: rgb(255,255,255);
    background: rgb(100,100,200);
    text-decoration: none;
}
    
a.button:hover {
    color: rgb(0,100,255);
    background: rgb(200,200,100);
    text-decoration: none;
}

img {
    border: none;
}

table {
    border: 1px solid blue;
    border-collapse: collapse;
    color: transparent;
    text-align: right;    
}

table.memViewContact {
	position: relative;
	top: 0px;
	left: 10px;
	border: 1px solid red;
	padding: 10px;
	background: rgb(150,200,255);
	font-size: 1.1em; 
}

table.memViewAccts {
	position: absolute;
	top: 0px;
	right: 10px;
	border: 1px solid red;
	padding: 10px;
	background: rgb(150,200,255);
	font-size: 1.1em; 
}

table.memViewMisc {
	position: relative;
	top: 0px;
	left: 10px;
	border: 1px solid red;
	padding: 10px;
	background: rgb(150,200,255);
	font-size: 1.1em; 
}

table.acctViewContact {
	position: relative;
	top: 0px;
	left: 10px;
	border: 1px solid red;
	padding: 10px;
	background: rgb(150,200,255);
	font-size: 1.1em; 
}

table.acctViewMems {
	position: absolute;
	top: 0px;
	right: 10px;
	border: 1px solid red;
	padding: 10px;
	background: rgb(150,200,255);
	font-size: 1.1em; 
}

table.acctViewMisc {
	position: relative;
	top: 0px;
	left: 10px;
	border: 1px solid red;
	padding: 10px;
	background: rgb(150,200,255);
	font-size: 1.1em; 
}

tr {
    border-top: 1px solid blue;
}

tr.memView {
	background: transparent;
	border: none;
}

caption.view {
	font-size: 1.60em;
	text-align: left;
	padding: 5px;
}

th {
    text-align: center;
    padding: 2px;
    background-color: rgb(150,180,200);
    border-right: 1px solid rgb(100,100,200);
}

th.memView {
	text-align: right;
	vertical-align: top;
	font-size: 1.1em;
	background: transparent;
	border: none;
}

th.confirm {
    text-align: right;
    font-size: 1.8em;
}

td.confirm {
    text-align: left;
    font-size: 2.0em;
}

td    {
    text-align: left;
    border-right: 1px solid rgb(100,100,200);
    padding: 5px;
    font-family: "Arial",times,sans-serif;

}

td.tdbutton {
    border: none;
}

td.phone {
    text-align: left;
}

td.address {
    text-align: left;
    vertical-align: top;
}

td.memView	{
	text-align: left;
	vertical-align: top;
	padding-left: 15px;
	border: none;
}

div#logo {
    position: absolute;
    top: 0px;
    left: 5px;
    /* padding: 2pt; */
    width: 90%;
    height: 40px;
    color: rgb(0,0,255);
    background: rgb(200,200,100);
    font-family: "Times New Roman",times,sans-serif;
    font-size: 3em;
}

div#headerLine {
    position: absolute;
    top: 0px;
    height: 50px;
    width: 100%;
    border-bottom: thin solid;
}

div#login {
    position: absolute;
    top: 75px;
    left: 35%;
}

div#home {
    position: absolute;
    top: 40px;
    left: 20%;
}

div#nav {
    position: fixed;
    top: 0px;
    right: 5px;
    /*padding: 3px; */
    text-align: right;
    width: 550px;
    height: 23px;
    background: rgb(100,100,200);
    font-size: 20px;    
}

div#navCashierTask {
    position: fixed;
    top: 24px;
    right: 5px;
    /*padding: 3px; */
    text-align: right;
    width: 160px;
    height: 23px;
    background: rgb(100,100,200);
    font-size: 20px;    
}

div#navMemTask {
    position: fixed;
    top: 24px;
    right: 5px;
    /*padding: 3px; */
    text-align: right;
    width: 200px;
    height: 23px;
    background: rgb(100,100,200);
    font-size: 20px;    
}

div#navTask {
    position: fixed;
    top: 24px;
    right: 5px;
    /*padding: 3px; */
    text-align: center;
    width: 85px;
    height: 23px;
    background: rgb(100,100,200);
    font-size: 20px;    
}

div#navTrans {
    position: fixed;
    top: 25px;
    right: 5px;
    /*padding: 3px; */
    text-align: right;
    width: 300px;
    height: 23px;
    background: rgb(100,100,200);
    font-size: 20px;    
}


div#transForm {
    position: absolute;
    top: 100px;
    left: 10px;
}

div#trans {
    position: absolute;
    top: 220px;
    left: 10px;
}

div#transHeader {
    position: absolute;
    top: 50px;
    left: 10px;
    text-align: left;
}


div#search {
    position: relative;
    top: 85px;
    left: 10px;
    width: 520px;
    height: 65px;
    color: rgb(255,0,0);
    font-size: 2em;    
}


div#table {
    position: absolute;
    top:  60px;
    left: 10px    
}


div#next {
    position:fixed;
    top: 60px;
    right: 1%;
    font-size: 1.5em;
    }

div#prev {
    position:fixed;
    top: 60px;
    left: 1%;
    font-size:1.50em;
    }

div#edit {
    position:relative;
    top:  60px;
    width: 12%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    }

div#transConfirm {
    position: absolute;
    top: 100px;
    left: 20%;
    z-index: 1;
    font-size: 16px;
}

/*//////////////////////////////////////////////////////////////////////
//
//  Reconcile styles
*/

div#reconcileTitle {
    position: absolute;
    top: 170px;
    left: 10px;
}

div#reconcileSummary {
    position: absolute;
    top: 220px;
    left: 10px;
}

div#reconcileItems {
    position: absolute;
    top: 220px;
    left: 450px;
}
div#checksTitle {
	position: absolute;
	top: 150px;
	left: 10px;
}

div#closeOutChecks {
	position: absolute;
	top: 200px;
	left: 10px;
}


div#creditTitle {
	position: absolute;
	top: 150px;
	left: 400px;
}

div#closeOutCredit {
	position: absolute;
	top: 200px;
	left: 400px;
}

div#ebtTitle {
	position: absolute;
	top: 150px;
	left: 800px;
}

div#closeOutEbt {
	position: absolute;
	top: 200px;
	left: 800px;
}

div#totalsTitle {
	position: absolute;
	top: 40px;
	left: 10px;
}

div#closeOutSales {
	position: absolute;
	top: 90px;
	right: 260px;
}
div#closeOutSummary {
	position: absolute;
	top: 90px;
	left: 10px;
}

div#closeOutOther {
	position: absolute;
	top: 90px;
	left: 230px;
}


div#closeOutPayments {
	position: absolute;
	top: 90px;
	right: 130px;
}

div#closeOutTotals {
	position: absolute;
	top: 90px;
	right: 10px;
}
