{% extends "membership/signup_base.html" %}

{% block title %}Mariposa Joining Form{% endblock %}

{% block content %}
  <div id="double-column">
    <div id="primary-content-wrapper">
      <div style="text-align: center">
        <br />
        <h2>Mariposa Joining Form</h2>
        <p><a href="http://www.mariposa.coop/join">Click here for more info on the benefits of Mariposa Food Co-op Membership!</a></p>
        <p>Your signup is complete! We look forward to seeing you at your orientation. If you are not able to attend any of our
        upcoming orientations, our member coordinator will contact you with additional options as more orientation dates become available.</p> 
      </div>
    </div>
  </div>
{% endblock %}
