{% extends "membership/public_form.html" %}

{% block formtitle %}Mariposa Joining Form{% endblock %}

{% block content %}
  <p><a href="http://www.mariposa.coop/join">Click here for more info on the benefits of Mariposa Food Co-op Membership!</a></p>
  <div id="double-column">
    <div id="primary-content-wrapper">
      <div class="section">
        <p>You're almost done! Please complete your membership by making your equity payment by clicking the Pay Now button.</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
          {% csrf_token %}
          <input type="hidden" name="cmd" value="_xclick">
          <input type="hidden" name="business" value="DJ7UFJ58N3SSJ">
          <input type="hidden" name="lc" value="US">
          <input type="hidden" name="item_name" value="New Member Equity">
          <input type="hidden" name="amount" value="{{ equity }}.00">
          <input type="hidden" name="currency_code" value="USD">
          <input type="hidden" name="button_subtype" value="services">
          <input type="hidden" name="no_note" value="0">
          <input type="hidden" name="no_shipping" value="2">
          <input type="hidden" name="rm" value="1">
          <input type="hidden" name="return" value="http://www.mariposa.coop/?page_id=1909">
          <input type="hidden" name="bn" value="PP-BuyNowBF:btn_paynowCC_LG.gif:NonHosted">
          <input type="hidden" name="member_name" value="{{ name }}">
          <input type="image" src="/media/images/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      </form>
      <p>If you have elected to pay your membership equity at orientation, your sign-up is complete for now.</p>
    </div>
  </div>
{% endblock %}
