{% if am.shopper and am.account_contact %}
<div class="accountmemberalert">
  Proxy Shopper??!??
</div>
{% endif %}

{% if not am.shopper and not am.account_contact %}
<div class="accountmemberalert">
  Member Equity Holder??!??
</div>
{% endif %}

<h4>
  <a href="{% url member-edit am.member.user.username %}">edit</a>

      <a class="nofloat" href="{% url member am.member.user.username %}">{{ am.member }}</a>
</h4>

<div class="accountmemberside">
  <ul class="quick-info">
    {% for email in am.member.emails.all %}
      <li><b>Email:</b> {{ email }}</li>
    {% endfor %}


    {% for phone in am.member.phones.all %}
      <li><b>Phone:</b> {{ phone }}</li>
    {% endfor %}

    {% for address in am.member.addresses.all %}
      <li><b>Address:</b> <br>
        {{ address.address1 }}<br>
        {% if address.address2 %}{{ address.address2 }}<br>{% endif %}
        {{ address.city }}, {{ address.state }} {{ address.postal_code }}
        {% ifnotequal address.country "USA" %}
          <br>{{ address.country }}
        {% endifnotequal %}
      </li>
    {% endfor %}
  </ul>
</div>
<div class="accountmemberside">
  <ul class="quick-info">
    {% if am.member.date_departed %}
      <li><b>Departed:</b> {{ am.member.date_departed|date:"n/j/Y" }}</li>
    {% endif %}
    {% if am.member.date_missing %}
      <li><b>Missing:</b> {{ am.member.date_missing|date:"n/j/Y" }}</li>
    {% endif %}

    {% ifequal section "departed" %}
      {% if am.shopper %}<li><b>Was Proxy</b></li>{% endif %}
      {% if am.account_contact %}<li><b>Was Member Equity Holder</b></li>{% endif %}
    {% endifequal %}

    {% if am.member.current_loa %}
      <li>
        <b>On leave:</b> {{ am.member.current_loa.start|date:"n/j/Y" }} 
        to {{ am.member.current_loa.end|date:"n/j/Y" }}
      </li>
    {% endif %}

    {% if am.account_contact %}
      <!-- work status is only for member equity holders -->
      <li><b>Work status:</b> {{ am.member.get_work_status_display }}</li>
    {% endif %}

    <li><b>Key:</b> 
      {% if am.member.has_key %}Has Key{% else %}No Key{% endif %}
    </li>

    {% if request.user.is_staff %}
    {% if am.member.card_number or am.member.card_facility_code or am.member.card_type %}
    <li><b>Key #:</b>
      {{ am.member.card_number }} / {{ am.member.card_facility_code }} / {{ am.member.card_type }}
    </li>
    {% endif %}
    {% endif %}

    {% if am.member.date_joined_is_realistic or request.user.is_staff %}
    <li><b>Joined:</b> {{ am.member.date_joined|date:"n/j/Y" }}</li>
    {% endif %}
  </ul>
</div>
<hr class="endaccountmember">
