{% load messmoney %}

<h2><a href="{{ account.get_absolute_url }}">{{ account }}</a></h2>
{% include "accounting/snippets/acct_flags.html" %}
<ul class="quick-info">
  <li><b>{% if account.owes_money %}Money owed{% else %}Credit{% endif %}:</b> 
    {{ account.balance|messmoney }}</li>
  <!-- the meaning of each variable is explained at https://cms.paypal.com/us/cgi-bin/?cmd=_render-content&content_ID=developer/e_howto_html_Appx_websitestandard_htmlvariables -->
  <li>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_xclick">
      <input type="hidden" name="business" value="DJ7UFJ58N3SSJ">
      <input type="hidden" name="lc" value="US">
      <input type="hidden" name="item_name" value="Add credit to your Mariposa account ({{ account.alphanumericname }})">
      <select name="amount">
        <option value="10.00">10.00</option>
        <option value="20.00">20.00</option>
        <option value="30.00">30.00</option>
        <option value="50.00" selected>50.00</option>
        <option value="100.00">100.00</option>
        <option value="150.00">150.00</option>
        <option value="200.00">200.00</option>
        <option value="300.00">300.00</option>
        <option value="500.00">500.00</option>
      </select>
      <input type="hidden" name="item_number" value="Account-{{ account.id }}">
      <input type="hidden" name="button_subtype" value="services">
      <input type="hidden" name="no_shipping" value="1">
      <input type="hidden" name="undefined_quantity" value="1">
      <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
      <input type="hidden" name="notify_url" value="https://mess.mariposa.coop/accounting/listen_to_paypal">
      <input type="hidden" name="return" value="https://mess.mariposa.coop">
      <input type="hidden" name="rm" value="1">
      <input type="submit" value="add credit with Paypal">
    </form>
  </li>
  <li><b>Next Workshift:</b> {% if account.next_shift %}{{ account.next_shift.member.user.first_name }} {{ account.next_shift.time|date:"D n/j g:ia" }}<br><a href="{{ account.next_shift.get_switch_url }}">need to switch?</a>{% else %}None{% endif %}</li>
  <li>
  <b>Hours {% if account.hours_owed %}owed{% else %}banked{% endif %}:</b> 
      {{ account.hours_balance|messmoney }} 
    {% if request.user.is_staff %}<a href="{{ account.get_hours_balance_history_url }}">history</a>{% endif %}
  </li>
  <li><b>Member equity:</b> {{ account.deposit|messmoney }}</li>
  <li>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_xclick">
      <input type="hidden" name="business" value="DJ7UFJ58N3SSJ">
      <input type="hidden" name="lc" value="US">
      <input type="hidden" name="item_name" value="Add equity to your Mariposa account ({{ account.alphanumericname }})">
      <!-- 1st position of custom value at 1 means equity payment, not credit -->
      <input type="hidden" name="custom" value="1">
      <select name="amount">
        <option value="10.00">10.00</option>
        <option value="20.00">20.00</option>
        <option value="30.00">30.00</option>
        <option value="50.00" selected>50.00</option>
        <option value="100.00">100.00</option>
        <option value="150.00">150.00</option>
        <option value="200.00">200.00</option>
        <option value="300.00">300.00</option>
        <option value="500.00">500.00</option>
        <option value="1000.00">1000.00</option>
        <option value="1500.00">1500.00</option>
        <option value="2000.00">2000.00</option>
        <option value="2500.00">2500.00</option>
      </select>
      <input type="hidden" name="item_number" value="Account-{{ account.id }}">
      <input type="hidden" name="button_subtype" value="services">
      <input type="hidden" name="no_shipping" value="1">
      <input type="hidden" name="undefined_quantity" value="1">
      <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
      <input type="hidden" name="notify_url" value="https://mess.mariposa.coop/accounting/listen_to_paypal">
      <input type="hidden" name="return" value="https://mess.mariposa.coop">
      <input type="hidden" name="rm" value="1">
      <input type="submit" value="add equity with Paypal">
    </form>
  </li>
  {% if account.temporarybalancelimit_set.current or request.user.is_staff %}
    <li>
    {% if request.user.is_staff %}
      {% if account.temporarybalancelimit_set.current %}
        <b>{{ account.temporarybalancelimit_set.current|first }}</b>
      {% else %}
        <b>Balance Limit:</b> {{ account.max_allowed_to_owe }}
      {% endif %}
      <br /><a href="{{ account.get_templimit_url }}">change balance limit</a>
    {% else %}
      {% if account.temporarybalancelimit_set.current %}
        <b>{{ account.temporarybalancelimit_set.current|first }}</b>
      {% endif %}
    {% endif %}
    </li>
  {% endif %}
</ul>

<h2>Workshifts (<span id="workhist_week0hider"><u>past</u></span>/<span id="workhist_future0hider"><u>future</u></span>)</h2>
  <div class="workhist"> 
    <table class="acctwork">
      {% for member in account.members.all %}
        {% if member.is_active %}
          <tr><td class="task-{{ member.get_work_status_display }}">{{ member }}: {{ member.get_work_status_display }}</td></tr>
          {% if member.current_loa %}
            <tr><td class="LOA">{{ member }}: LOA {{ member.current_loa.start }} until {{ member.current_loa.end }}</td></tr>
          {% endif %}
        {% endif %}
      {% endfor %}
    </table>

    <table class="workhist" id="workhist_week0">
      {% for week in account.workhist %}
        {% if week.flagcurrent %}
          </table><table class="workhist" id="workhist_current">
        {% endif %}
        {% if week.flagfuture %}
          </table><table class="workhist" id="workhist_future0">
        {% endif %}
        <tr id="workhist_week{{ forloop.counter }}hider">
          <td>{{ week.newmonth|date:"M" }}{{ week.newyear }}</td>
          <td>&nbsp;</td>
          {% for day in week.days %}
            {% if day.workflag %}
              <td class="task-{{ day.workflag }}{% if day.istoday %} workhist-today{% endif %}" title="{{ day.task.member }}. {{ day.task.job }}. {{ day.task.time|time:"g:ia" }}, {{ day.task.hours }} hours.  {{ day.workflag|capfirst }}"><b><u>{{ day.date|date:"j" }}</u></b></td>
            {% else %}
              <td {% if day.istoday %}class="workhist-today"{% endif %}>{{ day.date|date:"j" }}</td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr class="task-hiding-spot">
          <td colspan="9">
            <div id="workhist_week{{ forloop.counter }}">
            {% for task in week.tasks %}
              <div class="task-{{ task.simple_workflag }}">
                {{ task.member }} &mdash; {{ task.job }} <br>
                {% if request.user.is_staff %}<a href="{% url scheduling-task task.id %}">{{ task.time|date:"D n/j/y" }}</a>{% else %}{{ task.time|date:"D n/j/y" }}{% endif %}, 
                {{ task.time|time:"g:ia" }}, {{ task.hours }} hours <br>
                {% if task.hours_worked %}<b>Worked {{ task.hours_worked }} hours</b>{% endif %}
                <b>{{ task.workflag }}</b>
              </div>
            {% endfor %}
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>

    <script> 
        attach_hiders('workhist_future',1);
        attach_hiders('workhist_week',{{ account.workhist|length }}); 
    </script>
  click any highlighted day to show shift info
  </div>

    {% if account.members_leaveofabsence_set %}
      <h2>Leave of Absence History</h2>
      <table class="acctwork">
      {% for member in account.members.all %}
        {% for leave in member.leaveofabsence_set.all %}
          <tr><td>
            {{ member }}: LOA {{ leave.start }} until {{ leave.end }}
          </td></tr>
        {% endfor %}
      {% endfor %}
      </table>
    {% endif %}
