{% extends 'base.html' %}

{% block content %}
<div id="double-column">
  <div id="primary-content-wrapper">
    <h2>Equity Totals</h2>
    <table class="data">
      <tr>
        <th>equity transactions total</th>
        <th>total of account equity + member equity_held</th>
      </tr>
      <tr>
        <td>{{ equity_transactions_sum.total }}</td>
        <td>{{ all_equity }}</td>
      </tr>
    </table>

    <br>
    <h2>Equity By Account</h2>
    <table class="data">
      <tr>
        <th>Account</th>
        <th>Members, member equities</th>
        <th>Account equity amount</th>
        <th>Sum of equity transactions</th>
      </tr>
      {% for datum in data %}
      <tr> 
          <td>{{ datum.acct_name }}</td>
          <td>
            {% for am in datum.account.members.all %}
            <div {% if not am.is_active %}class="profile-inactive"{% endif %}>
                {{ am }} {{ am.equity_held }}
            </div>
            {% endfor %}
          </td>
          <td>{{ datum.acct_deposit }}</td>
          <td>{{ datum.acct_esum }}</td>
        </tr>
      {% endfor %}
    </table>

  </div>
</div>
{% endblock %}
