{% extends "base.html" %}

{% block content %}
<div id="double-column">
  <div id="primary-content-wrapper">
  <form class="sorter noprint" method="GET" style="float:right;">
    <table>{{ form }}</table>
    <input type="submit" value="Customize Report">
  </form>

  <h2>
    {% if desc %}{{ object }} {{ desc }}{% else %}Custom Report{% endif %}
  </h2>
  <h2>
    {% if object %}{{ result|length }} Matching {{ object }}{% endif %}
  </h2>

  <br>
  {% for error in errors %}
    Error: {{ error }}<br>
  {% endfor %}

  {% if textarea %}
  <textarea class="data" cols="60" rows="10">{% for datum in textarea %}{{ datum }},
{% endfor %}</textarea>
  {% endif %}

  <table class="data">
    <tr>
      {% for fieldname in outputfieldnames %}
        <th>{{ fieldname }}</th>
      {% endfor %}
    </tr>
    {% for object in result %}
      <tr class="{% cycle 'odd' 'even' %}">
        {% for field in object %}
          <td>{{ field|linebreaksbr }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
    <tr>
      <th>Totals:</th>
      {% for total in totals %}
        <td>{% if total %}{{ total }}{% endif %}</td>
      {% endfor %}
    </tr>
  </table>

  </div>
</div>
{% endblock %}
