{% extends "base.html" %}

{% block content %}
  <div id="double-column">
    <div id="primary-content-wrapper">
    {% if not request.GET.section %}
      <h2>Member Work Dashboard ({{ memberwork|length }} members)</h2>
    {% endif %}

    {% for section in sections %}
    <h2>{{ section.name }} ({{ section.memberwork|length }} members)</h2>
    <table class="memberwork data">
      <tr>
        <th>Member</th>
        <th>Account(s)</th>
        <th>Workshift</th>
        <th>Work History</th>
        <th>Notes</th>
      </tr>
      {% for member in section.memberwork %}
        <tr>
          <td><a href="{{ member.get_absolute_url }}">{{ member }}</a></td>
          <td>
            {% for accountmember in member.accountmember_set.all %}
              <a href="{{ accountmember.account.get_absolute_url }}">{{ accountmember.account }}</a>{% if accountmember.shopper %}(s){% endif %}
              {% if not forloop.last %}<br>{% endif %}
            {% endfor %}
          </td>
          <td>
            <div class="task-{{ member.get_work_status_display }}">{{ member.get_work_status_display }}</div>
            {% if member.shift %}
              {{ member.shift.time|date:"D" }}-{{ member.shift.rotletter }} {{ member.shift.job }} (<a href="{% url scheduling-task member.shift.id %}">{{ member.shift.time|date:"n/j g:ia" }}</a>)
            {% endif %}
            {% if member.current_loa %}
              <div class="LOA">LOA {{ member.current_loa.start }} until {{ member.current_loa.end }}</div>
            {% endif %}
          </td>
          <td>
            <table class="cycletasks"><tr>
              {% for cyclex in member.cycletasks %}
                <td>
                  {% if not cyclex %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% endif %}
                  {% for task in cyclex %}
                    <span class="task-{{ task.simple_workflag }}">
                      {{ task.time|date:"n/j" }}{{ task.abbr_workflag }}
                    </span>
                    {% if not forloop.last %}<br>{% endif %}
                  {% endfor %}
                </td>
              {% endfor %}
            </tr></table>
          </td>
          <td>
            {% for account in member.accounts.all %}
              {{ account.note|linebreaksbr }} 
              {% if not forloop.last %}<hr>{% endif %}
            {% endfor %}
        </tr>
      {% endfor %}
    </table>
    {% endfor %}

    </div>
  </div>
{% endblock content %}
