{% extends 'base.html' %}
{% load messmoney %}
{% block content %}
<div id="double-column" >
  <div id="primary-content-wrapper" >
    <h2>Transaction Totals</h2>
    <table class="data"><tr>
      <th>Purchases</th>
      <th>Payments</th>
      <td rowspan="2">
        <form class="sorter noprint" method="GET" style="float:right;">
          <table>{{ form }}</table>
          <input type="submit" value="Filter">
        </form>
        <br>
        Starting<br> Total<br> Balance:<br> {{ starting_total|messmoney }}<br><br>
        Ending<br> Total<br> Balance:<br> {{ ending_total|messmoney }}
      </td>
    </tr><tr><td>
      <table>      
        {% for x in purchases_by_type %}
          <tr class="{% cycle 'odd' 'even' %}">
            <td>{{ x.type }}</td>
            <td>{{ x.total }}</td>
          </tr>
        {% endfor %}
      </table>
    </td><td>
      <table>      
        {% for x in payments_by_type %}
          <tr class="{% cycle 'odd' 'even' %}">
            <td>{{ x.type }}</td>
            <td>{{ x.total }}</td>
          </tr>
        {% endfor %}
      </table>
    </td></tr></table>
    {% if list_each %}
      <div id="transactions">
        {% include "accounting/snippets/transactions.html" %}
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
