{% extends 'base.html' %}
{% block content %}
<div id="double-column" >
  <ul id="local-nav">
  	<li><a href="{% url member_reports %}">Members</a></li>
	<li><a href="{% url account_reports %}">Accounts</a></li>
	<li><a href="{% url trans_reports %}">Transactions</a></li>
	<li class="last-item"><a href="{% url scheduling_reports %}">Scheduling</a></li>
  </ul>	
  <div id="primary-content-wrapper" >
    <h2>Active Global item</h2>
    <h3>Active local item</h3>
    <div class="attention">  
	  <p><strong>Filter:</strong></p>
      <ul class="filter">
	    <li><a href="{% url trans_list %}">All</a></li>
	    <li><a href="{% url trans_list_today %}">Today</a></li>
	    <li><a href="{% url trans_list_yesterday %}">Yesterday</a></li>
	    <li><a href="{% url trans_list_week %}">Week</a></li>
	    <li><a href="{% url trans_list_month %}">Month</a></li>
	    <li><a href="{% url trans_list_year %}">Year</a></li>
	    <li><a href="{% url trans_list_custom %}">Custom</a></li>
	    <li class="last-item"><a href="{% url trans_summary %}">Transactions Summary</a></li>
	  </ul>
	</div>
    {% include "reporting/snippets/transactions.html" %}
  </div>
</div>
<!--><div id="right-column">
  <h3>Report Sections</h3>
  <ul>
    {% include "reporting/snippets/report_sections_menu.html" %}
  </ul>
</div>-->
{% endblock %}
