{% extends 'base.html' %}
{% block head %}
<link type="text/css" href="{{ MEDIA_URL }}css/div_list.css" rel="stylesheet" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/trans_list.js"></script>
{% endblock head %}

{% block content %}
<div id="double-column" >
  <ul id="local-nav">
  	<li><a href="{% url member_reports %}">Members</a></li>
	<li><a href="{% url account_reports %}">Accounts</a></li>
	<li><a href="{% url trans_reports %}">Transactions</a></li>
	<li class="last-item"><a href="{% url scheduling_reports %}">Scheduling</a></li>
  </ul>	
  <div id="primary-content-wrapper" >
    <div class="attention">  
	<p>
	<form method="get">
	  	<strong>Account:</strong>
		<input name="account" id="account_name" style="width:10em;" 
			value="{{ account }}">
		<strong>Member:</strong>
		<input name="member" id="member_name" style="width:10em;" 
			value="{{ member }}">
		<strong>Start:</strong>
		<input name="start" id="start_date" style="width:8em;" 
			value="{{ start }}">
		<strong>End:</strong>
		<input name="end" id="end_date" style="width:8em;" 
			value="{{ end }}">
		<input type="submit" value="Filter">
	</form>
	</p>
	DEBUGGING USERNAMES: {{ usernames }}<br> <!-- should only be 1! -->
	</div>
	{% include "reporting/snippets/transactions.html" %}
<!-- no table for testing, just put it in <pre> -->
<!-- transactions were filtered and extracted from the database in views.py -->
<!--
	<pre>
	{% for trans in transactions %}
{{trans.id}}	{{trans.date}}	{{trans.account|ljust:20}}	{{trans.member|ljust:20}}	{{trans.member.user.username|ljust:20}}	{{trans.get_credit_type_display|ljust:8}}	{{trans.credit|floatformat:2|rjust:6}}	{{trans.get_debit_type_display|ljust:8}}	{{trans.debit|floatformat:2|rjust:6}}	{{trans.balance|floatformat:2|rjust:6}}	{{trans.note}}	{{trans.ref}}
	{% endfor %}
	</pre>
-->

  </div>
</div>
<!--><div id="right-column">
  <h3>Report Sections</h3>
  <ul>
    {% include "reporting/snippets/report_sections_menu.html" %}
  </ul>
<div>-->
{% endblock %}
{% block pop_up %}
<div id="message" ></div>
<div id="list" ></div>
</div>
</div>
{% endblock %}
