{% extends 'base.html' %}
{% load messmoney %}

{% block head %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/pick_storeday.js"></script>
{% endblock %}

{% block content %}
<div id="double-column" >
  <div id="primary-content-wrapper" >
    <h2>Transaction Totals</h2>
    <table class="data"><tr>
      <th style="width:25%;">Purchases</th>
      <th style="width:25%;">Payments</th>
      <th style="width:25%; text-align:right;">Filters</th>

    </tr><tr><td>
      <table style="width:80%;">
        <tr class="even">
          <td>Start Balance:</td><td>{{ starting_total|messmoney }}</td>
        </tr>
        {% for x in purchases_by_type %}
          <tr class="{% cycle 'odd' 'even' %}">
            <td>{{ x.type }}</td>
            <td>{{ x.total }}</td>
          </tr>
        {% endfor %}
        <tr class="odd">
          <td>Start+Purchases:</td><td>{{ start_plus_purchases|messmoney }}</td>
        </tr>
      </table>
    </td><td>
      <table style="width:80%;">      
        {% for x in payments_by_type %}
          <tr class="{% cycle 'odd' 'even' %}">
            <td>{{ x.type }}</td>
            <td>{{ x.total }}</td>
          </tr>
        {% endfor %}
        <tr class="odd">
          <td>End Balance:</td><td>{{ ending_total|messmoney }}</td>
        </tr>
        <tr class="even">
          <td>End+Payments:</td><td>{{ end_plus_payments|messmoney }}</td>
        </tr>
      </table>
    </td><td>
      <table>
        <form class="sorter noprint" method="GET" style="float:right;">
          {{ form }}
          <tr><td></td><td><input type="submit" value="Filter"></td></tr>
        </form>
        <tr>
          <th>Store Day:<br><a href="{% url storeday %}">manage</a></th>
          <td>
            <select id="select_storeday" onchange="pick_storeday(this);">
              <option value=""></option>
              {% for storeday in storedays %}
                <option value="{{ storeday.start|date:"Y-m-d H:i:s" }}~{% if storeday.get_end %}{{ storeday.get_end|date:"Y-m-d H:i:s" }}{% else %}2099-12-31 23:59:59{% endif %}">{{ storeday.start|date:"n/j/y h:i A" }}</option>
              {% endfor %}
            </select><br>
            <form action="{% url storeday %}" method="POST" 
              onsubmit="return confirm('Are you sure you want to begin a new Store Day now?');">
              {% csrf_token %}
              <input type="submit" name="begin_new_storeday_now" value="Begin new Store Day now">
            </form>
          </td>
        </tr>
      </table>
      <br>
    </td>
    
    </tr></table>
    {% if list_each %}
    {% else %}
      <h3>Transactions with Notes</h3><!-- pulled by default by view -->
    {% endif %}
    <div id="transactions">
      {% include "accounting/snippets/transactions.html" %}
    </div>
  </div>
</div>
{% endblock %}
