<div class="form-chunk">
  <label for="id_{{ form.prefix }}-time_1">Time:</label> {{ form.time }}
  {% comment %}
  <input type="hidden" name="{{ form.prefix }}-time_0" value="{{ form.initial.time|date:"Y-m-d" }}" id="id_{{ form.prefix }}-time_0" />
  <input type="text" name="{{ form.prefix }}-time_1" value="{{ form.initial.time|date:"fA" }}" id="id_{{ form.prefix }}-time_1" />
  {% endcomment %}
  <label for="id_{{ form.prefix }}-hours">Hours:</label> {{ form.hours }}
  <span class="errors">{{ form.time.errors|join:" " }} {{ form.hours.errors|join:" " }}</span>
</div>
<div class="form-chunk">
  <label for="id_{{ recur_form.prefix }}-frequency">Frequency:</label> {{ recur_form.frequency }}
  <span class="errors">{{ recur_form.frequency.errors|join:" " }}</span>
</div>
<div class="form-chunk">
  <label for="id_{{ recur_form.prefix }}-interval">Interval:</label> {{ recur_form.interval }}
  <label for="id_{{ recur_form.prefix }}-last_occurrence">Last occurrence:</label> {{ recur_form.until }}
  <span class="errors">{{ recur_form.interval.errors|join:" " }} {{ recur_form.until.errors|join:" " }}</span>
</div>
<div class="form-chunk">
  <label for="id_{{ form.prefix }}-job">Job:</label> {{ form.job }}
  <span class="errors">{{ form.job.errors|join:" " }}</span>
</div>
<div class="form-chunk">
  <label>Workers (members and the accounts they're working for):</label><br />
  <span class="helptext">Leave fields blank for unassigned tasks.</span>
  {{ worker_formset.management_form }}
  <ul id="worker_list">
  {% for worker_form in worker_formset.forms %}
    <li>{{ worker_form.taskid }} {{ worker_form.member }} {{ worker_form.account }} 
      {{ worker_form.taskid.errors }}
      {% ifnotequal form.prefix "add" %}
      <a class="remove" href="" onclick="removeForm('worker'); return false;">Remove</a>
      {% endifnotequal %}
    </li>
  {% endfor %}
    <li id="worker-writeroot" class="add" style="text-align:left">
      <a class="add" href="" onclick="addForm('worker', '{% url scheduling-worker-form %}'); return false;" id="worker-add">Add</a>
      {% ifequal form.prefix "add" %}
      <a class="remove hidden" href="" onclick="removeForm('worker'); return false;" id="worker-remove">Remove last</a>
      {% endifequal %}
    </li>
  </ul>
</div>

