<div class="form-chunk">
  <label for="id_{{ form.prefix }}-time_1">Time:</label> {{ form.time }}
  <label for="id_{{ form.prefix }}-hours">Hours:</label> {{ form.hours }}
  <span class="errors">{{ form.time.errors|join:" " }} {{ form.hours.errors|join:" " }}</span>
</div>
<div class="form-chunk">
  <label for="id_{{ form.prefix }}-frequency">Frequency:</label> {{ form.frequency }}
  <span class="errors">{{ form.frequency.errors|join:" " }}</span>
</div>
<div class="form-chunk">
  <label for="id_{{ form.prefix }}-interval">Interval:</label> {{ form.interval }}
  <label for="id_{{ form.prefix }}-last_occurrence">Last occurrence:</label> {{ form.last_occurrence }}
  <span class="errors">{{ form.interval.errors|join:" " }} {{ form.last_occurrence.errors|join:" " }}</span>
</div>
<div class="form-chunk">
  <label for="id_{{ form.prefix }}-job">Job:</label> {{ form.job }}
  <span class="errors">{{ form.job.errors|join:" " }}</span>
</div>
<div class="form-chunk">
  <label>Workers (members and the accounts they're working for):</label><br />
  <span class="helptext">Leave fields blank for unassigned tasks.</span>
  {{ worker_formset.management_form }}
  <ul id="worker_list">
  {% for worker_form in worker_formset.forms %}
    <li>{{ worker_form.member }} {{ worker_form.account }} 
      {% if not form.add %}
      <a class="remove" href="" onclick="removeForm('worker'); return false;">Remove</a>
      {% endif %}
    </li>
  {% endfor %}
    <li id="worker-writeroot" class="add" style="text-align:left">
      <a class="add" href="" onclick="addForm('worker', '{% url scheduling-worker-form %}'); return false;" id="worker-add">Add</a>
      {% if form.add %}
      <a class="remove hidden" href="" onclick="removeForm('worker'); return false;" id="worker-remove">Remove last</a>
      {% endif %}
    </li>
  </ul>
</div>

