{% if task.id %}
<form method="post" action="{%url update-task task.id %}">
{% else %}
<form method="post" action="{%url add-task %}">
{% endif %}
	{{ form.as_p }}
    <br /><br />
	<input value="Save" type="submit" />
</form>

{# YUI SELECTOR EXAMPLE, relies on cal_selector.js NOT WORKING YET #}
{# <div> #}
{# <label>Example Calendar Input:</label><br /> #}
{# <input type="text" name="example" id="example"> #}
{# <img id="calico" src="{{ MEDIA_URL }}yui/calendar/assets/calx.gif" alt="Open Calendar Control" /></div><div id="mycal"> #}
{# </div> #}

{# {% if task.id %} #}
{# <a href="{% url del-task task.id %}">Delete {{object}}</a> #}
{# {% endif %} #}
