{% extends "people/base.html" %}

{% block content %}

<table id='table' >
    <th>Name</th>
    <th>User Name</th>
    <th>Email Addresses</th>
    <th>Phone Numbers</th>
    <th>Addresses</th>
    {% for person in people_list %}
    <tr>
        <td>
            <a href='{{ PROJECT_URL }}person/form/{{ person.pk }}'>
            <img class='b100em' src='{{ MEDIA_URL }}images/Edit.png' />
        </a>
        <a href='/person/{{ person.pk }}' > {{ person.name }} </a>
    </td>
        <td>{{ person.user }}</td>
        <td>{% for email in person.emails.all %}
                {{ email.get_type_display }}: {{ email.email }}<br />
            {% endfor %}
        </td>
         <td>{% for phone in person.phones.all %}
                {{ phone.get_type_display }}: {{ phone.number }}
                {% if not phone.ext %}
                    <br />
                {% else %}
                    Ext: {{ phone.ext }}<br />
                {% endif %}
            {% endfor %}
        </td>
        <td>{% for address in person.addresses.all %}
                {{ address.get_type_display }}: {{ address.address_1 }}<br />
            {% endfor %}
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}

