{% extends "base.html" %}

{% block content %}

<a href='/person/form/{{ person.id }}'>
    <img class=b125em src='/media/images/Edit.png' />
</a>

<table>
    <tr>
        <th>Name</th><td>{{ person.name }}</td>
        <th>User Name</th><td>{{ person.user }}</td>
    </tr>
</table>
<h2>Addresses</h2>
<table>
    <tr>{% for address in person.addresses.all %}
        <th>{{ address.get_type_display }}</th>
        <td>{% if address.address_1 %}
                {{ address.address_1 }}<br />
            {% endif %}
            {% if address.address_2 %}
                {{ address.address_2 }}<br />
            {% endif %}
            {{ address.city }}, {{ address.state }}
            {{ address.postal_code }}<br />
            {{ address.country }}
        </td>
        {% endfor %}
</table>
<h2>Email</h2>
<table>
    <tr>{% for email in person.emails.all %}
        <th>{{ email.get_location_display }}<br />
            {{ email.get_type_display }}
        </th>
        <td>{{ email.email }}</td>
        {% endfor %}
    </tr>
</table>
<h2>Phone</h2>
<table>
    <tr>{% for phone in person.phones.all %}
        <th>
            {{ phone.get_location_display }}<br />
            {{ phone.get_type_display }}
        </th>
        <td>
            {{ phone.number }}{% if phone.ext %}Ext: {{ phone.ext }}{% endif %}
        </td>
        {% endfor %}
    </tr>
</table>
    {% endblock %}
