{% extends "people/base.html" %}

{% block content %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/base.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/search.js"></script>

<form method='get' action=''>
    <table>
        <tr>
            <th>String</th>
            <td>
                <input type="text" id="id_string" name="string" value=""
			            onkeyup='listAccounts(this, event)'/>

            </td>
        </tr>
        <tr>
            <td>
                <input type='submit' value='Save' >
            <td>
        </tr>
    </table>
</form>

<div id='list'></div>

{% endblock %}

