{% extends "base.html" %}

{% block head %}
<link href="{{MEDIA_URL}}css/div_list.css"
        type="text/css" rel="stylesheet" media="screen" />

<!--CSS file (default YUI Sam Skin) -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/calendar/assets/skins/sam/calendar.css">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/calendar/assets/fonts-min.css">

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/yui_custom.css">

<!-- Dependencies -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/yahoo-dom-event/connection-min.js"></script>

<!-- Source file -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/calendar/calendar-min.js"></script>

{% endblock head %}

{% block page_menu %}
<a class='button' href="monthly.html" >Monthly</a>
<a class='button' href="weekly.html" >Weekly</a>
<a class='button' href="daily.html" >Daily</a>
<a class='button' href="job_list.html" >Job List</a>
{% endblock %}
