{% extends "base.html" %}

{% block content %}
<div id="double-column">
  {% include "scheduling/snippets/page_menu.html" %}
  <div id="primary-content-wrapper">
    <form action="{% url job-add %}">
      <div class="add-button">
        <input type="submit" value="Add a new job" />
      </div>
    </form>
    <h2>Job List</h2>
    <table class="data">
      <tr>
        <th>Name</th>
        <th>Desc</th>
        <th>Type</th>
        <th>Freeze Days</th>
        <th>Hours Multiplier</th>
        <th>Skills Required</th>
        <th>Skills Trained</th>
      </tr>    
      {% for job in jobs %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td>
          <a href='{% url job-edit job_id=job.id %}'>{{ job }}</a>
        </td>
        <td>{{ job.desc }} </td>
        <td>{{ job.get_type_display }}</td>        
        <td>{{ job.freeze_days }}</td>
        <td>{{ job.hours_multiplier }}</td>
        <td><ul class=ceasefire>
            {% for sk in job.skills_required.all %}
            <li><a href="{% url skill-edit sk.id %}">{{ sk }}</a></li>
            {% endfor %}</ul></td>     
        <td><ul class=ceasefire>
            {% for sk in job.skills_trained.all %}
            <li><a href="{% url skill-edit sk.id %}">{{ sk }}</a></li>
            {% endfor %}</ul></td>     
      </tr>
      {% endfor %}
    </table>
    {# {% include "snippets/pagination.html" %} #}
  </div>
</div>
{% endblock %}

