{% extends "base.html" %}

{% block content %}
  <div id="double-column">
    {% include "scheduling/snippets/page_menu.html" %}
    <div id="primary-content-wrapper">

    {% for tablex in rotationtables %}
      <div {% if tablex.pagebreakafter %}class="pagebreakafter"{% endif %}>
      <h2>{{ tablex.dayname }} {{ tablex.freq }}-Week {% if tablex.cashier6 %}Cashier{% endif %} Shifts</h2>
      <table class="rotation">
        <tr>
          {% if tablex.ideals %}<td>
            {% if request.user.is_staff %}
              <a class="noprint" href="{% url scheduling-schedule tablex.idealdate %}">set ideal schedule</a>
            {% endif %}
          </td>{% endif %}
          {% for cyclex in tablex.cycles %}
            <th>Week {{ cyclex.letter }}:
              {% for datex in cyclex.dates %}
                {% if request.user.is_staff %}<a href="{% url scheduling-schedule datex|date:"Y-m-d" %}">{{ datex|date:"n/j" }}</a>{% else %}{{ datex|date:"n/j" }}{% endif %},
              {% endfor %}
            </th>
          {% endfor %}
        </tr>
        {% if tablex.ideals %}{% for ideal in tablex.ideals %}
          <tr class="rotation-ideal">
            <th class="rotation-ideal">
              {{ ideal.job }}
              {% if not ideal.job.deadline and not tablex.dancer %}<br>
                {{ ideal.time|time:"g:i" }}&ndash;{{ ideal.get_end|time:"g:i" }}
              {% endif %}
            </th>
            {% for task in ideal.actuals %}
              <td>
                {% if not task %}(please do not schedule){% endif %}
                {% if not task.job.deadline %}
                {% if task.timediff or not task.assigned %}
                  {{ task.time|time:"g:ia" }} <br>
                {% endif %}
                {% endif %}
                {% if task.assigned %}
                  {% if request.user.is_staff %}
                    <a href="{% url member task.member.user.username %}">{{ task.member.user.first_name }}</a><br />
                    (<a href="{% url account task.account.id %}">{{ task.account }}</a>)<br />
                  {% else %}
                    {{ task.member.user.first_name }} ({{ task.account }})<br />
                  {% endif %}
                  {% for phone in task.member.phones.all %} {{ phone }} <br/> {% endfor %}
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}{% endif %}

        <!-- Print other (non-idealized) shifts -->
        <tr class="rotation-main">
          {% if tablex.ideals %}<th class="rotation-ideal">Other Shifts</th>{% endif %}
          {% for cyclex in tablex.cycles %}
            <td>
              {% for task in cyclex.shifts %}{% if not task.idealized %}
                <div class="rotation-shift{% if not task.assigned %} rotation-shift-unassigned{% endif %}">
                  {% if tablex.cashier6 %}
                    {{ task.time|time:"g:i" }}&ndash;{{ task.get_end|time:"g:i" }}
                  {% else %}
                    <b>{{ task.job }} 
                    {% if not task.job.deadline and not tablex.dancer %} <br /> 
                      {{ task.time|time:"g:ia" }} &ndash; {{ task.get_end|time:"g:ia" }}
                    {% endif %}</b>
                  {% endif %}
                  <hr />
                  {% if task.assigned %}
                    {% if request.user.is_staff %}
                      <a href="{% url member task.member.user.username %}">{{ task.member.user.first_name }}</a>
                      (<a href="{% url account task.account.id %}">{{ task.account }}</a>)<br />
                    {% else %}
                      {{ task.member.user.first_name }} ({{ task.account }})
                    {% endif %}
                    {% for phone in task.member.phones.all %} {{ phone }} <br/> {% endfor %}
                  {% endif %}
                </div>
              {% endif %}{% endfor %}
            </td>
          {% endfor %}
        </tr>
      </table>
      </div>
    {% endfor %}

    </div>
  </div>
{% endblock content %}
