{% extends "base.html" %}

{% block head %}
<link href="{{MEDIA_URL}}css/div_list.css"
        type="text/css" rel="stylesheet" media="screen" />

<!--CSS file (default YUI Sam Skin) -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/calendar/assets/skins/sam/calendar.css">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/calendar/assets/fonts-min.css">
<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/yui_custom.css">
<!-- Dependencies -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/connection/connection-min.js"></script>
<!-- YUI JS -->
<script type="text/javascript" src="http://yui.yahooapis.com/combo?2.5.2/build/yahoo-dom-event/yahoo-dom-event.js&2.5.2/build/calendar/calendar-min.js&2.5.2/build/connection/connection-min.js"></script>

{% endblock head %}

{% block page_menu %}
<a class='button' href="schedule.html" >Schedule</a>
<a class='button' href="job_list.html" >Job List</a>
{% endblock %}

{% block content %}
<div id="double-column">
    <ul id="local-nav">
    {% include "scheduling/snippets/page_menu.html" %}
    </ul>
    <div id="primary-content-wrapper">

        <div id="cal1Container"></div>

        <div id="task-form">

        </div>
        
        <div id="task-list"></div>
		
    </div>
</div>

<!--BEGIN SCRIPTS FOR CALENDAR & TASK MANAGEMENT =============================== -->
<script type="text/javascript">			
    // create namespace object
	YAHOO.namespace("schedule.calendar");

    //define the initConnection
	YAHOO.schedule.calendar.initConnection = function() {
        var div = YAHOO.util.Dom.get("task-list");

        function dateToLocaleString(dt) {
        	var dStr = dt.getDate();
        	var mStr = dt.getMonth()+1;
        	var yStr = dt.getFullYear();
        	return ("/scheduling/task_list/" + yStr + "-" + mStr + "-" + dStr);
        }

        var handleSuccess = function(response){
            if(response.responseText !== undefined){ 		    
                div.innerHTML = response.responseText;
            }
        };

        var handleFailure = function(response){ 
            if(response.responseText !== undefined){ 
                div.innerHTML = "Nothing for this Date"; 
            } 
        };
        
        var callback = 
    	{ 
    	    success: handleSuccess, 
    	    failure: handleFailure,   
    	};

        function mySelectHandler(type, args, obj) {
        	var selected = args[0];
        	var selDate = this.toDate(selected[0]);
        	var sUrl = dateToLocaleString(selDate);
        	YAHOO.util.Connect.asyncRequest('GET', sUrl, callback, null); 
        }
        YAHOO.schedule.calendar.cal1 = new YAHOO.widget.Calendar("cal1","cal1Container");
        YAHOO.schedule.calendar.cal1.selectEvent.subscribe(mySelectHandler, YAHOO.schedule.calendar.cal1, true);
        YAHOO.schedule.calendar.cal1.render();
        
        // list todays tasks on page load
        var sUrl = dateToLocaleString(new Date());
        YAHOO.util.Connect.asyncRequest('GET', sUrl, callback, null);
	}

	YAHOO.util.Event.onDOMReady(YAHOO.schedule.calendar.initConnection);
</script>
<!--END SCRIPTS FOR CALENDAR & TASK MANAGEMENT =============================== -->

{% endblock content %}
