{% extends "base.html" %}

{% block head %}
  <!--CSS file (default YUI Sam Skin) -->
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}yui/calendar/assets/skins/sam/calendar.css" media="screen" >
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/div_list.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/yui_custom.css" media="screen" >
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/schedule.css" media="screen" >
  <!-- Dependencies -->
  <script type="text/javascript" src="{{ MEDIA_URL }}yui/yahoo-dom-event/yahoo-dom-event.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}yui/calendar/calendar-min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}yui/connection/connection-min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}yui/datasource/datasource-min.js"></script> 
  <script type="text/javascript" src="{{ MEDIA_URL }}yui/autocomplete/autocomplete-min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}yui/json/json-min.js"></script>
  <!-- Custom JS -->
  <script type="text/javascript" src="{{ MEDIA_URL }}js/scheduling.js"></script>
  {# <script type="text/javascript" src="{{ MEDIA_URL }}js/cal_selector.js"></script> #}

  <script type="text/javascript">
    var jsonString = '{{ cal_json|safe }}';
    try {
        var days = YAHOO.lang.JSON.parse(jsonString);
    }
    catch (e) {
        alert("unable to load calendar data");
    }
    function selectDate() {
      YAHOO.schedule.cal1.cfg.setProperty("pagedate", "{{ date|date:"m/Y" }}", false); 
      YAHOO.schedule.cal1.cfg.setProperty("selected", "{{ date|date:"m/d/Y" }}", false); 
      YAHOO.schedule.cal1.render();
    }
    YAHOO.util.Event.onDOMReady(selectDate);
    YAHOO.util.Event.onDOMReady(taskClickAssign);
    YAHOO.util.Event.onDOMReady(checkWorker);
  </script>
  <!-- Calendar styles -->
  <style type="text/css">
    {% for task in tasks %}
      .yui-skin-sam {{ task.time|date:".\yY .\mn .\dj" }} {text-decoration: underline;}
    {% endfor %}
  </style> 
{% endblock head %}

{% block content %}
  <div id="left-column">
    {% include "scheduling/snippets/page_menu.html" %}
    <div id="primary-content-wrapper">
      <form onsubmit="taskAdd(); return false">
        <div class="add-button">
          <input type="submit" value="Add a task" />
        </div>
      </form>
      <h2>
        <a href="{% url scheduling-schedule previous_date|date:"Y-m-d" %}">&larr;</a> 
        {{ date|date:"l, F jS, Y" }} 
        <a href="{% url scheduling-schedule next_date|date:"Y-m-d" %}">&rarr;</a>
      </h2>
      <div id="task-add" class="task-form task-add-form{% if not add_form.errors %} hidden{% endif %}">
        <form class="add-form" method="post" name="add">
          <div class="form-chunk">
            <label for="id_time_1">Time:</label> {{ add_form.time }}
            <label for="id_hours">Hours:</label> {{ add_form.hours }}
            <span class="errors">{{ add_form.time.errors|join:" " }} {{ add_form.hours.errors|join:" " }}</span>
          </div>
          <div class="form-chunk">
            <label for="id_frequency">Frequency:</label> {{ add_form.frequency }}
            <label for="id_interval">Interval:</label> {{ add_form.interval }}
            <span class="errors">{{ add_form.frequency.errors|join:" " }} {{ add_form.interval.errors|join:" " }}</span>
          </div>
          <div class="form-chunk">
            <label for="id_job">Job:</label> {{ add_form.job }}
            <span class="errors">{{ add_form.job.errors|join:" " }}</span>
          </div>
          <label>Workers (members and the accounts they're working for):</label><br />
          <span class="helptext">Leave fields blank for unassigned tasks.</span>
          {{ add_form_workers.management_form }}
          <ul id="worker_list">
          {% for worker_form in add_form_workers.forms %}
            <li>{{ worker_form.member }} {{ worker_form.account }}</li>
          {% endfor %}
            <li id="worker-writeroot" class="add" style="text-align:left">
              <a class="add" href="" onclick="addForm('worker', '{% url scheduling-worker-form %}'); return false;" id="worker-add">Add</a>
              <a class="remove hidden" href="" onclick="removeForm('worker'); return false;" id="worker-remove">Remove last</a>
            </li>
          </ul>
          <div class="hidden">{{ add_form.affect }}</div>
          <p style="margin:30px 0 0 0"><input type="submit" value="Save" id="save" name="save-add" /> <input onclick="taskAddCancel()" type="button" value="Cancel" /></p>
        </form>
      </div>
      <table class="data" id="daily-view">
        <tr>
          <th>Time</th>
          <th>Job</th>
          <th>Workers</th>
        </tr>
        {% for group in task_groups %}
        <tr class="task-display {% cycle "odd" "even" %}{% if group.form.errors %} hidden{% endif %}">
          <td class="time">
          {% if group.first_task.job.deadline %}
            {{ group.first_task.time|date:"P" }} deadline for {{ group.first_task.hours }} hour task
          {% else %}
            {{ group.first_task.time|date:"P" }} &ndash; {{ group.first_task.get_end|date:"P" }}
          {% endif %}
            <br />
          {% if group.first_task.frequency and group.first_task.interval %}
            (recurs every {{ group.first_task.get_recurrence_display }})
          {% endif %}
          </td>
          <td>{{ group.first_task.job }}</td>
          <td>
            <ul>
            {% for task in group.tasks %}
              {% if task.member and task.account %}
              <li><span title="{% for phone in task.member.phones.all %} {{ phone }}{% endfor %}">{{ task.member }}</span>, {{ task.account }}</li>
              {% else %}
              <li class="unassigned">Unassigned</li>
              {% endif %}
            {% endfor %}
            </ul>
          </td>
        </tr>
        <tr class="task-edit{% if not group.form.errors %} hidden{% endif %}">
          <td colspan="3" style="padding:0">
            <div class="task-form task-edit-form">
              <form method="post" name="edit{{ group.form.prefix }}">
                <input type="hidden" name="group-index" value="{{ group.form.prefix }}" />
                <div class="form-chunk">
                  <label for="id_{{ group.form.prefix }}-time_1">Time:</label> {{ group.form.time }}
                  <label for="id_{{ group.form.prefix }}-hours">Hours:</label> {{ group.form.hours }}
                  <span class="errors">{{ group.form.time.errors|join:" " }} {{ group.form.hours.errors|join:" " }}</span>
                </div>
                <div class="form-chunk">
                  <label for="id_{{ group.form.prefix }}-frequency">Frequency:</label> {{ group.form.frequency }}
                  <label for="id_{{ group.form.prefix }}-interval">Interval:</label> {{ group.form.interval }}
                  <span class="errors">{{ group.form.frequency.errors|join:" " }} {{ group.form.interval.errors|join:" " }}</span>
                </div>
                <div class="form-chunk">
                  <label for="id_{{ group.form.prefix }}-job">Job:</label> {{ group.form.job }}
                  <span class="errors">{{ group.form.job.errors|join:" " }}</span>
                </div>
                <div class="form-chunk">
                  <label>Workers (members and the accounts they're working for):</label><br />
                  <span class="helptext">Leave fields blank for unassigned tasks.</span>
                  {{ group.form_workers.management_form }}
                  <ul id="worker_list">
                  {% for worker_form in group.form_workers.forms %}
                    <li>{{ worker_form.member }} {{ worker_form.account }} 
                      <a class="remove" href="" onclick="removeForm('worker'); return false;">Remove</a>
                    </li>
                  {% endfor %}
                    <li id="worker-writeroot" class="add" style="text-align:left">
                      <a class="add" href="" onclick="addForm('worker', '{% url scheduling-worker-form %}'); return false;" id="worker-add">Add</a>
                      <a class="remove hidden" href="" onclick="removeForm('worker'); return false;" id="worker-remove">Remove last</a>
                    </li>
                  </ul>
                </div>
                <div class="form-chunk{% if not group.first_task.frequency and group.first_task.interval %} hidden{% endif %}">
                  <label for="id_{{ group.form.prefix }}-affect">Affect:</label>
                  {{ group.form.affect }}
                </div>
                <p style="margin:30px 0 0 0"><input type="submit" value="Save" class="save" /> <input type="submit" value="Remove" name="remove" /> <input onclick="taskEditCancel(this)" type="button" value="Cancel" /></p>
              </form>
            </div>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div id="right-column">
    <h3 id="right-column-heading">Calendar</h3>
    <div id="cal1Container"></div>
      {# <div id="task-list"></div> #}
      {# <div id="task-form"> </div> #}
  </div>
{% endblock content %}
