{% extends "base.html" %}

{% block head %}
  <!--CSS file (default YUI Sam Skin) -->
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}yui/calendar/assets/skins/sam/calendar.css" media="screen" >
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/div_list.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/yui_custom.css" media="screen" >
  <!-- Dependencies -->
  <script type="text/javascript" src="{{ MEDIA_URL }}yui/yahoo-dom-event/yahoo-dom-event.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}yui/calendar/calendar-min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}yui/connection/connection-min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}yui/datasource/datasource-min.js"></script> 
  <script type="text/javascript" src="{{ MEDIA_URL }}yui/autocomplete/autocomplete-min.js"></script>
  <!-- Custom JS -->
  <script type="text/javascript" src="{{ MEDIA_URL }}js/scheduling.js"></script>
  {# <script type="text/javascript" src="{{ MEDIA_URL }}js/cal_selector.js"></script> #}

  <script type="text/javascript" src="{{ MEDIA_URL }}js/base.js"></script>
  <script type="text/javascript">
    function selectDate() {
      YAHOO.schedule.calendar.cal1.cfg.setProperty("pagedate", "{{ date|date:"m/Y" }}", false); 
      YAHOO.schedule.calendar.cal1.cfg.setProperty("selected", "{{ date|date:"m/d/Y" }}", false); 
      YAHOO.schedule.calendar.cal1.render();
    }
    function taskClick(e, taskDisplay) {
      var taskEdit = YAHOO.util.Dom.getNextSibling(taskDisplay);
      YAHOO.util.Dom.addClass(taskDisplay, 'hidden');
      YAHOO.util.Dom.removeClass(taskEdit, 'hidden');
    }
    function taskClickAssign() {
      var taskDisplays = YAHOO.util.Dom.getElementsByClassName('task-display', 'tr');
      for (i=0; i<taskDisplays.length; i++) {
        var taskDisplay = taskDisplays[i];
        YAHOO.util.Event.on(taskDisplay, 'click', taskClick, taskDisplay);
      }
    }
    YAHOO.util.Event.onDOMReady(selectDate);
    YAHOO.util.Event.onDOMReady(taskClickAssign);
  </script>
  <!-- Calendar styles -->
  <style type="text/css">
    {% for task in tasks %}
      .yui-skin-sam {{ task.time|date:".\yY .\mn .\dj" }} {text-decoration: underline;}
    {% endfor %}
  </style> 
{% endblock head %}

{% block content %}
  <div id="left-column">
    {% include "scheduling/snippets/page_menu.html" %}
    <div id="primary-content-wrapper">
      <form onsubmit="return false">
        <div class="add-button">
          <input type="submit" value="Add a task!" />
        </div>
      </form>
      <h2>
        <a href="{% url scheduling-schedule previous_date|date:"Y-m-d" %}">&larr;</a> 
        {{ date|date:"l, F jS, Y" }} 
        <a href="{% url scheduling-schedule next_date|date:"Y-m-d" %}">&rarr;</a>
      </h2>
      <table class="data" id="daily-view">
        <tr>
          <th>Time</th>
          <th>Job</th>
          <th>Workers</th>
        </tr>
        <tr id="task-add">
          <form>
          <td colspan="3">
              {{ add_form.time }}<br />
              {{ add_form.frequency }} {{ add_form.interval }}
              {{ add_form.job }}
              <ul>
              {% for worker_form in add_worker_formset.forms %}
                <li>{{ worker_form.member }} {{ worker_form.account }}</li>
              {% endfor %}
              </ul>
              <input type="submit" value="Save" />
            </td>
          </form>
          </td>
        </tr>
        {% for group in task_groups %}
        <tr class="task-display {% cycle "odd" "even" %}">
          <td class="time">
          {% if group.proto.deadline %}
            {{ group.proto.time|date:"P" }} deadline for {{ group.proto.hours }} hour task
          {% else %}
            {{ group.proto.time|date:"P" }} &ndash; {{ group.proto.get_end|date:"P" }}
          {% endif %}
            <br />
          {% if group.proto.frequency and group.proto.interval %}
            (recurs every {{ group.proto.get_recurrence_display }})
          {% endif %}
          </td>
          <td>{{ group.proto.job }}</td>
          <td>
            <ul>
            {% for task in group.tasks %}
              {% if task.member and task.account %}
              <li>{{ task.member }}, {{ task.account }}</li>
              {% else %}
              <li class="unassigned">Unassigned</li>
              {% endif %}
            {% endfor %}
            </ul>
          </td>
        </tr>
        <tr class="task-edit hidden">
          <form>
            <td colspan="3">
              {{ group.form.time }}<br />
              {{ group.form.frequency }} {{ group.form.interval }}
              {{ group.form.job }}
              <ul>
              {% for worker_form in group.worker_forms %}
                <li>{{ worker_form.member }} {{ worker_form.account }}</li>
              {% endfor %}
              </ul>
              <input type="submit" value="Save" />
            </td>
          </form>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div id="right-column">
    <h3 id="right-column-heading">Calendar</h3>
    <div id="cal1Container"></div>
      {# <div id="task-list"></div> #}
      {# <div id="task-form"> </div> #}
  </div>
{% endblock content %}
