{% extends "base.html" %}

{% block head %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/scheduling.js"></script>
{% endblock head %}

{% block content %}
  <div id="double-column">
    {% include "scheduling/snippets/page_menu.html" %}
    <div id="primary-content-wrapper">
      <h2>
        <a href="{% url scheduling-timecard previous_date|date:"Y-m-d" %}">&larr;</a> 
        {{ date|date:"l, F jS, Y" }} 
        <a href="{% url scheduling-timecard next_date|date:"Y-m-d" %}">&rarr;</a>
      </h2>
      <form method="post">
        <table class="data" id="daily-view">
          <tr>
            <th>Time</th>
            <th>Job</th>
            <th>Worker</th>
            <th>Timecard</th>
          </tr>
          {% for task in tasks %}
          <tr class="task-display {% cycle "odd" "even" %}{% if task.form.errors %} hidden{% endif %}">
            <td class="time">
            {% if task.job.deadline %}
              {{ task.time|date:"P" }} deadline for {{ task.hours }} hour task
            {% else %}
              {{ task.time|date:"P" }} &ndash; {{ task.get_end|date:"P" }}
            {% endif %}
              <br />
            {% if task.recur_rule %}
            (recurs every {{ task.get_recurrence_display }}{% if task.recur_rule.until %}<br />until {{ task.recur_rule.until|date:"F jS" }}{% endif %})
            {% endif %}
            </td>
            <td>{{ task.job }}</td>
            <td>
              {% if task.assigned %}
                <a href="{% url member task.member.user.username %}">{{ task.member }}</a> 
                (<a href="{% url account task.account.id %}">{{ task.account }}</a>)<br />
                {% for phone in task.member.phones.all %} {{ phone }} {% endfor %}
              {% else %}
                <span class="unassigned">Unassigned</span>
              {% endif %}
            </td>
            <td class="timecardholder">
              <table><tr>
                {% for field in task.timecardform %}
                  <td>{{ field.label_tag }}<br>{{ field }}</td>
                {% endfor %}
              </tr></table>
            </td>
          </tr>
          {% endfor %}
        </table>
        <div><input type="submit" value="Submit" /></div>
      </form>
    </div>
  </div>
{% endblock content %}
