{% extends "base.html" %}

{% block head %}
  <link href="{{ MEDIA_URL }}css/print.css" type="text/css" rel="stylesheet" media="print" />
  <link href="{{ MEDIA_URL }}css/timecard.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="{{ MEDIA_URL }}js/scheduling.js"></script>
{% endblock head %}

{% block content %}
  <div id="double-column">
    {% include "scheduling/snippets/page_menu.html" %}
    <div id="primary-content-wrapper">
      <h2>
        <a href="{% url scheduling-timecard previous_date|date:"Y-m-d" %}" id="previous-day">&larr;</a> 
        {{ date|date:"l, F jS, Y" }} 
        <a href="{% url scheduling-timecard next_date|date:"Y-m-d" %}" id="next-day">&rarr;</a>
      </h2>
      <form method="post">
        {{ formset.management_form }}
        <table class="data" id="daily-view">
          <thead>
            <tr>
              <th>Time</th>
              <th>Job</th>
              <th>Worker</th>
              <th>Hours<br />Worked</th>
              <th>Excused</th>
              <th>Makeup</th>
              <th>Banked</th>
            </tr>
          </thead>
          <tbody>
            {% for form in formset.forms %}
            {% with form.instance as task %}
            <tr class="task-display {% cycle "odd" "even" %}{% if task.form.errors %} hidden{% endif %}">
              <td class="time">
              {% if task.job.deadline %}
                {{ task.time|date:"P" }} deadline for {{ task.hours }} hour task
              {% else %}
                {{ task.time|date:"P" }} &ndash; {{ task.get_end|date:"P" }}
              {% endif %}
              {% comment %} don't think we need this in timecard -- gsf
                <br />
              {% if task.recur_rule %}
              (recurs every {{ task.get_recurrence_display }}{% if task.recur_rule.until %}<br />until {{ task.recur_rule.until|date:"F jS" }}{% endif %})
              {% endif %}
              {% endcomment %}
              </td>
              <td>{{ task.job }}</td>
              <td>
                {% if task.assigned %}
                  <a href="{% url member task.member.user.username %}">{{ task.member }}</a> 
                  (<a href="{% url account task.account.id %}">{{ task.account }}</a>)<br />
                  {% for phone in task.member.phones.all %} {{ phone }} {% endfor %}
                {% else %}
                  <span class="unassigned">Unassigned</span>
                {% endif %}
              </td>
              <td>{{ form.id }}<input type="text" name="{{ form.prefix }}-hours_worked" id="id_{{ form.prefix }}-hours_worked" value="{% if task.hours_worked %}{{ task.hours_worked }}{% else %}{{ task.hours }}{% endif %}" /></td>
              <td>{{ form.excused }}</td>
              <td>{{ form.makeup }}</td>
              <td>{{ form.banked }}</td>
            </tr>
            {% endwith %}
            {% endfor %}
          </tbody>
        </table>
        <div><input type="submit" value="Submit" /></div>
      </form>
    </div>
  </div>
{% endblock content %}
