{% extends "base.html" %}

{% block login %}{% endblock %}

{% block content %}
  <div id="double-column">
    <div id="primary-content-wrapper">
      {% if not user.is_authenticated %}
      <form class="standard" id="login" method="post" action=".">
        <input type="hidden" name="next" value="{{ next }}" />
        {% if form.errors %}
        <p class="error">Your username and password didn't match. If you can't remember your password, go ahead and <a href="{% url auth_password_reset %}">reset it</a>.</p>
        {% endif %}
        <table>
          <tr>
            <th>
              <label for="id_username">Username:</label>
            </th>
            <td>{{form.username}}</td>
          </tr>
          <tr>
            <th>
              <label for="id_password">Password:</label>
            </th>
            <td>{{form.password}}</td>
          </tr>
          <tr>
            <td></td>
            <td>
              <input class="button" type="submit" value="Log in"/>
            </td>
          </tr>
        </table>
      </form>
        {% if form.has_errors %}
      <p>If you are having trouble logging in, please contact a staff member.</p>
        {% endif %}
      {% else %}
      <ul>
        <li>Logged in as <a href="{% url member user.username %}" >{{ user.username }}</a></li>
        <li class="last-item"><a href="{% url django.contrib.auth.views.logout_then_login %}" >Log out</a></li>
      </ul>
      {% endif %}
    </div>
  </div>

<script type="text/javascript">
  document.getElementById('id_username').focus();
</script>

{% endblock %}
