{% extends "base.html" %}

{% block title %}Welcome to The MESS{% endblock %}
{% block logo %}The MESS{% endblock %}


{% block content %}

{% if user.is_anonymous %}
  <div id="double-column">
    <div id="primary-content-wrapper">
      <h2>Welcome to The MESS (Mariposa's Electronic Storage System)</h2>
      <div class="attention">
        <h3>Members and staff, please log in.</h3>
        <p>MESS is already in use behind-the-scenes for workshift scheduling and member account maintenance.  
          Soon all members will be able to use MESS to get and change their account information.
          In the future, cashiers will use MESS to record purchase transactions.</p>
      </div>
      <div class="attention">
        <h3>Visitors and neighbors, for more info...</h3>
        <p>Visit <a href="http://www.mariposa.coop/">Mariposa's main site!</a></p>
      </div>
    </div>
  </div>

{% else %}

  <div id="left-column">
    <div id="primary-content-wrapper">
      <h2>Hello, {{ user.first_name }}!</h2>
      <h3>Here are some announcements.</h3>
      <p> </p>
    </div>
  </div>

  <div id ="right-column">
    <h3>{{ user.first_name }}'s Accounts</h3>
    <table>
      {# should ever only be one member in member_set #}
      {% for member in user.member_set.all %}
      {% for account in member.accounts.all %}
        <p><a href="{% url account account.id %}">{{ account }}</a><br>
        <ul>
          <li>balance: {{ account.balance|floatformat:2 }}</li>
          <li>next workshift: 
            {% if member.next_shift %} 
            {{ member.next_shift }}
            {% else %}
            None scheduled
          </li>
          {% endif %}
        </ul>
        </p>
      {% endfor %}
      {% endfor %}
    </table>
  </div><!--end right-column-->

  {% endif %}
 {% endblock %}

