{% extends "base.html" %}

{% block title %}Welcome to The MESS{% endblock %}
{% block logo %}The MESS{% endblock %}


{% block content %}

{% if user.is_anonymous %}
  <div id="double-column">
    <div id="primary-content-wrapper">
      <h2>Welcome to The MESS (Mariposa's Electronic Storage System)</h2>
      <div class="attention">
        <h3>Members and staff, please log in.</h3>
        <p>
          <form action="/login/" method="POST">
            <table>{{ form }}</table>
            <input type="submit" value="Log In">
          </form>
        </p>
        <p>MESS is already in use behind-the-scenes for workshift scheduling and member account maintenance.  
          Now members can use MESS to check their workshifts and update their account information.
          In the future, the MESS will provide a variety of services to members and staff.</p>
      </div>
      <div class="attention">
        <h3>Visitors and neighbors, for more info...</h3>
        <p>Visit <a href="http://www.mariposa.coop/">Mariposa's main site!</a></p>
      </div>
    </div>
  </div>

{% else %}

  <div id="left-column">
    <div id="primary-content-wrapper">
      <h2>Hello, {{ user.first_name }}!</h2>
      <h3>Here are the most recent conversations on the <a href="/forum/menu">Forum</a></h3>
      <ul>
      {% for t in threads %}
      <li><a href="/forum/{{ t.forum__slug }}/?subject={{ t.subject }}">{{ t.subject }}</a> - new post on 
        {{ t.last_post|date:'D d F' }} at {{ t.last_post|date:'P' }}</li>
      {% endfor %}
      </ul>

      <h3>Here are the most recent updates from <a href="http://www.mariposa.coop/?cat=3">mariposa.coop</a></h3>
      {% for entry in rss_entries %}
      <h4>{{ entry.title }}</h4>
      <p>{{ entry.summary|linebreaksbr }} <a href="{{ entry.link }}">read more</a></p>
        {% endfor %}
    </div>
  </div>

  <div id ="right-column">
    {% with user.get_profile.accounts.all|first as account %}
    {% include "membership/snippets/acctinfo.html" %}
    {% endwith %}
  </div>

  {% endif %}
 {% endblock %}

