{% extends "base.html" %}

{% block title %}Welcome to The MESS{% endblock %}

{% block bodyclass %} 
	{% if user.is_anonymous %}
		class="login"
	{% else %}
		class="welcome"
	{% endif %}
{% endblock %}

{% block content %}

{% if user.is_anonymous %}
<section>

	<h1>Welcome to The MESS (Mariposa's Electronic Storage System)</h1>
	<p>Members and staff, please log in.</p>

	<form id="login" method="post">

		{% csrf_token %}
		<input type="hidden" name="next" value="{{ next }}" />
		{% if form.errors %}
		<p class="error">Incorrect username/email or password. If you can't remember your password, go ahead and <a href="{% url auth_password_reset %}">reset it</a>.</p>
		{% endif %}

		<ol class="form">
			<li>
				<label for="id_username">Username/email</label>
			</li>
				<li>{{form.username}}</li>
			<li>
				<label for="id_password">Password</label>
			</li>
				<li>{{form.password}}</li>
			<li>
				<input class="button" type="submit" value="Log in"/>
			</li>
		</ol>

	</form>

</section>

<small>MESS is already in use behind-the-scenes for workshift scheduling and member account maintenance.  Now members can use MESS to check their workshifts and update their account information. In the future, the MESS will provide a variety of services to members and staff.</small>
<small>Visit <a href="http://www.mariposa.coop/">Mariposa's main site!</a></small>

{% else %}

  <div id="left-column">
    <div id="primary-content-wrapper">
      <h1>Hello, {{ user.first_name }}!</h1>
      <h2>Recent Discussion from the Mess <a href="/forum/menu">Forum</a></h2>
      <ul>
      {% for t in threads %}
      <li><a href="/forum/{{ t.forum__slug }}/?subject={{ t.subject }}">{{ t.subject }}</a> - new post on 
        {{ t.last_post|date:'D d F' }} at {{ t.last_post|date:'P' }}</li>
      {% endfor %}
      </ul>

      <h2>Recent News from <a href="http://www.mariposa.coop/?cat=3">mariposa.coop</a></h2>
      {% for entry in rss_entries %}
      <h4>{{ entry.title }}</h4>
      <p>{{ entry.summary|linebreaksbr }} <a href="{{ entry.link }}">read more</a></p>
        {% endfor %}
    </div>
  </div>

  <div id ="right-column">
    {% with user.get_profile.accounts.all|first as account %}
    {% include "membership/snippets/acctinfo.html" %}
    {% endwith %}
  </div>

  {% endif %}
 {% endblock %}

