{% extends "base.html" %}

{% block head %}
<link href="{{ MEDIA_URL }}css/div_list.css"
        type="text/css" rel="Stylesheet" media="screen" />        
<script type="text/javascript" src="{{ MEDIA_URL }}js/base.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/cashier.js"></script>

<script type="text/javascript" src="{{ MEDIA_URL }}js/cashier_events.js"></script>
{% endblock head %}

{% block content %}
<div id="double-column" >
<ul id="local-nav" >
{% include "accounting/snippets/page_menu.html" %}
</ul>

<div id="primary-content-wrapper">

<form class="standard" id="form" name="form" method="post" >

<input type="hidden" id="id_account" name="account" value="" />
<input type="hidden" id="id_member" name="member" value="" />

<table class="form-table" >
    <tr>
        <td><label for="account_name">Account Name</label></td>
	    <td>
            <input tabindex="1" type="text" size="40"        
			        id="account_name" name="account_name" />
        </td>
        <td><label for="id_ref" >Reference</label></td>
	    <td>
		    <input tabindex="3" type="text" size="10" id="id_ref" name="ref" />
	    </td>
    </tr>
    <tr>
        <td><label for="member_name" >Member Name</label></td>
	    <td>
            <input tabindex="2" type="text" size="40"
                    id="member_name" name="member_name" />
	    </td>
        <td>
            <select tabindex="4" id="id_debit_type" name="debit_type" >
                <option value="N" selected>Select Payment</option>
                {% for v, t in debit_choices %}
                    <option value={{ v }} >{{ t }}</option>
                {% endfor %}
            </select>
        </td>
	    <td>
            <input tabindex="5" type="text" size="10"
                    id="id_debit" name="debit" value="00" />
	    </td>
    </tr>
    <tr>
        <td><label for="id_note">Note</label></td>
	    <td >
		    <input type="text" size="40" id="id_note" name="note" value="" />
	    </td>
        <td>
            <select tabindex="6" id="id_credit_type" name="credit_type" >
                <option value="N" selected>Select Purchase</option>
                {% for v, t in credit_choices %}
                    <option value={{ v }} >{{ t }}</option>
                {% endfor %}
            </select>
        </td>
	    <td>
            <input tabindex="7" type="text" size="10"
                id="id_credit" name="credit" value="00"/>
	    </td>
    </tr>
    <tr>
        <td colspan=4 >
        <input type="reset" value="Reset Form" >
        <input tabindex="8" type="submit" value="Save Transaction" >
    </td>
</tr>
</table>
</form>

<div id="transactions" ></div>

{% endblock %}
{% block pop_up %}

<div id="message" ></div>
<div id="list" ></div>
</div>
</div>
{% endblock %}
