{% extends "base.html" %}

{% block head %}
<link href="{{ MEDIA_URL }}css/dropdown_list.css" type="text/css" rel="Stylesheet" media="screen" />

<script type="text/javascript" src="http://yui.yahooapis.com/combo?2.5.2/build/yahoo/yahoo-min.js&2.5.2/build/event/event-min.js">

<script type="text/javascript" src="{{ MEDIA_URL }}js/base.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/cashier_digger.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/cashier_events_digger.js"></script>
{% endblock head %}

{% block content %}
<div id="double-column" >
  <ul id="local-nav">
  {% include "accounting/snippets/local_nav.html" %}
  </ul>
  <div id="primary-content-wrapper">
    <form class="standard" id="form" name="form" method="post" >
        <div id="account">
            <input type="hidden" id="id_account" name="account" value="" />
            <label for="account_name">Account Name</label>
            <input tabindex="1" type="text" size="40" autocomplete="off" id="account_name" name="account_name" />
        </div>
        <div id="member" > 
            <input type="hidden" id="id_member" name="member" value="" />
            <label for="member_name" >Member Name</label>
            <input tabindex="2" type="text" size="40" autocomplete="off" id="member_name" name="member_name" />
        </div>
        <div id="debit_type">
            <select tabindex="4" id="id_debit_type" name="debit_type" >
                <option value="N" selected>Select Payment</option>
                {% for v, t in debit_choices %}
                    <option value={{ v }} >{{ t }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="debit">
            <label for="id_debit" >Debit Amount</label>        
            <input tabindex="5" type="text" size="10" autocomplete="off" id="id_debit" name="debit" />
        </div>
        <div id="ref">
            <label for="id_ref" >Reference</label>
            <input tabindex="3" type="text" size="10" autocomplete="off" id="id_ref" name="ref" />
        </div>
        <div id="credit_type">
            <select tabindex="6" id="id_credit_type" name="credit_type" >
                <option value="N" selected>Select Purchase</option>
                {% for v, t in credit_choices %}
                    <option value={{ v }} >{{ t }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="credit">
            <label for="id_credit" >Credit Amount</label>        
            <input tabindex="7" type="text" size="10" autocomplete="off" id="id_credit" name="credit" />
        </div>
    <div id="div_id_note">
        <label for="id_note">Note</label>
        <textarea size="40" id="id_note" name="note" autocomplete="off" value="" /></textarea>
    </div>
        <input class="button" type="reset" value="Reset Form" >
        <input class="button" tabindex="8" type="submit" value="Save Transaction" >
    </form>
    <div id="transactions" ></div>
</div>
</div>

{% endblock %}
{% block pop_up %}
<div id="message" ></div>
<div id="list" ></div>
{% endblock %}
