{% extends "base.html" %}
{% load messmoney %}

{% block head %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/base.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/cashsheet_input.js"></script>
{% endblock head %}

{% block content %}
  <div id="double-column" >
    {% include "accounting/snippets/page_menu.html" %}
    <div id="primary-content-wrapper">
      <form method="post" onsubmit="return confirm_if_weird(this{% if user.is_staff %}, true{% endif %});">
        {% csrf_token %}
        <h2>This form is broken and will never submit correctly!  Do not use!!!</h2>
        <table class="data cashsheet">
          <tr>
            <th>Account</th>
            <th>Max<br>Allowed</th>
            <th>Hours<br>Balance</th>
            <th>Old<br>Balance</th>
            <th{% if not show_advanced_fields %} style="display:none;"{% endif %}>Misc.</th>
            <th>Member<br>Equity</th>
            <th{% if not show_advanced_fields %} style="display:none;"{% endif %}>Bulk<br>Orders</th>
            <th>Regular<br>Sales</th>
            <th>Credit/<br>Debit<br>Card</th>
            <th>Check/<br>Money<br>Order</th>
            <th{% if not show_advanced_fields %} style="display:none;"{% endif %}>EBT</th>
            <th>New Balance</th>
            <th><!-- submit --></th>
          </tr>
          {% if rev %}
          <tr>
            <td class="reverse-trans-warning" colspan="10">
              PLEASE CORRECT THE TRANSACTION THEN CLICK SUBMIT
            </td>
          </tr>
          {% endif %}
          <tr>
            <td>{{ form.account }}
              <div id="flags">
                {% include "accounting/snippets/acct_flags.html" %}
              </div>
            </td>
            <td>
              <span id="max_allowed_to_owe">
                {{ account.max_allowed_to_owe|floatformat:0 }}
              </span>
            </td>
            <td>
              <span id="hours_balance">
                {{ account.hours_balance|messmoney }}
              </span>
            </td>
            <td>
              <span id="balance_disp">{{ account.balance|messmoney }}</span>
              <!-- hidden field used for javascript only -->
              <input type="hidden" id="balance_val" value="{{ account.balance }}">
            </td>
            <td{% if not show_advanced_fields %} style="display:none;"{% endif %}>{{ form.misc }}</td>
            <td>{{ form.deposit }}</td>
            <td{% if not show_advanced_fields %} style="display:none;"{% endif %}>{{ form.bulk_orders }}</td>
            <td>{{ form.regular_sales }}</td>
            <td>({{ form.credit_debit }})</td>
            <td>({{ form.check_mo }})</td>
            <td{% if not show_advanced_fields %} style="display:none;"{% endif %}>({{ form.ebt }})</td>
            <td><span id="newbalance"></span></td>
            <td><input name="action" type="submit" value="Submit"></td>
          </tr>
          <tr>
            <td colspan="6">
              Note: {{ form.note }}
            </td>
          </tr>
        </table>
        {{ form.errors }}
      </form>
      <div id="transactions">
        <h2>Today's Transactions</h2>
        {% include "accounting/snippets/transactions.html" %}
      </div>
    </div>
  </div>
{% endblock %}
