{% extends "base.html" %}
{% load messmoney %}

{% block head %}
<style>
  #primary-content-wrapper table.data td { 
    padding:{{ row_height }}mm .25em {{ row_height }}mm .5em; 
  }
</style>
{% endblock %}

{% block content %}
<div id="double-column">
  <div id="primary-content-wrapper">
    <span class="tiny noprint float-right">
      <form method="GET">{{ form }}<input type="submit" value="Redraw"></form>
    </span>
    <h2>Cash Sheet as of {% now "l, F jS, Y, g:ia" %}</h2>
    <table class="data cashsheet">
      {% for account in accounts %}
        {% if forloop.counter0|divisibleby:rows_per_page %}
          </table>
          <table class="data pagebreakafter cashsheet">
            <thead>
              <tr>
                <th>Account</th>
                {% comment %}<th class="tiny">Active<br>Members</th>{% endcomment %}
                <th class="tiny">Max<br>Allowed</th>
                <th class="tiny">Hours<br>Balance</th>
                <th>Old<br>Balance</th>
                <th>Misc.</th>
                <th>Deposit</th>
                <th>Bulk<br>Orders</th>
                <th>Regular<br>Sales</th>
                <th class="darkcolumnline">Credit/<br>Debit<br>Card</th>
                <th>Check/<br>Money<br>Order</th>
                <th class="darkcolumnline">New<br>Balance</th>
              </tr>
            </thead>
        {% endif %}
        <tr>
          <td><a href="{{ account.get_absolute_url }}">{{ account.name }}</a>
            {% if account.notice_flags %}
              <div class="notice">
                {{ account.notice_flags|join:" ... " }}
              </div>
            {% endif %}
          </td>
          {% comment %} <td class="tiny">{{ account.active_member_count }}</td> {% endcomment %}
          <td class="tiny">{{ account.max_allowed_to_owe|floatformat:0 }}</td>
          <td class="tiny">{{ account.hours_balance|messmoney }}</td>
          <td class="oldbalance">{{ account.balance|messmoney }}</td>
          {# if no account.members, we must be a special account !Mariposa #}
          {% if account.members.count and account.frozen_flags %}
            <td colspan="4" class="frozen">
              {{ account.frozen_flags|join:" ... " }}
            </td>
          {% else %}
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          {% endif %}
          <td class="darkcolumnline"></td>
          <td></td>
          <td class="newbalance darkcolumnline"></td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
