{% extends "base.html" %}
{% block head %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/closeout.js"></script>
{% endblock head %}

{% block content %}
  <div id="double-column" >
    {% include "accounting/snippets/page_menu.html" %}
    <div id="primary-content-wrapper">
      <h2>Close Out for {{ date|date:"l, F j, Y" }}</h2>

      <!-- hidden form used by js -->
      <form action="{% url cashsheet_input %}" method="post" id="reverse_form">
        {% csrf_token %}
        <input type="hidden" name="reverse_id" id="id_reverse_id">
        <input type="hidden" name="reverse_reason" id="id_reverse_reason">
        <input type="hidden" name="action" value="Reverse">
      </form>
      
      <table class="data">
        <tr>
          {% for column in columns %}
            <th>{{ column.type }}</th>
          {% endfor %}
        </tr>
        <tr>
          {% for column in columns %}
            <td>
              <p>Total: {{ column.total|floatformat:"2" }}</p>
              <table class="closeout">
                {% for trans in column.transactions %}
                  {% if not trans.fixes_target %}
                  <tr>
                    <td>{{ trans.timestamp|time:"g:i" }}</td>
                    <td><a href="{{ trans.account.get_absolute.url }}">{{ trans.account }}</a></td>
                    <td>{{ trans.fixed_payment_amount|floatformat:"2" }}{% if trans.note %}<span title="{{ trans.note }}">*</span>{% endif %}</td>
                    <td>
                      {% if trans.fixers %}
                        fixed
                      {% else %}
                        <input type="button" value="fix" onclick="reverse_trans({{ trans.id }}, '{{ trans.account|addslashes }}');">
                      {% endif %}
                    </td>
                  </tr>
                  {% endif %}
                {% endfor %}
              </table>
            </td>
          {% endfor %}
        </tr>
      </table>
      <form action="/" method="GET" onsubmit="return confirm('Thank you!');">
        <input type="submit" value="Complete">
      </form>
    </div>
  </div>
{% endblock %}
