{% extends "base.html" %}i

{% block content %}
{% include "accounting/snippets/page_menu.html" %}
<h1>Close Out for {{ date }}</h1>
<h2>Transactions are being reconciled by {{ user_name }}</h2>
<br /><br />

<form id='form' name='form' method='post'>
    <table>
        <th>Transaction</th>
        <th>Account</th>
        <th>Member</th>
        <th>Credit</th>
        <th>Debit</th>
        <th>Reconciled</th>
        {% for key, data  in tran_list.items %}
            <tr>
                <td>{{ data.transaction }}</td>
                <td>{{ data.account }}</td>
                <td>{{ data.member }}</td>
                <td>{{ data.credit }}</td>
                <td>{{ data.debit }}</td>
                <td><input id={{ key }} type="checkbox"
                            name={{ key }}"_reconciled"
                            value={{ data.reconciled }}>
                </td>
            </tr>
        {% endfor %}
    </table>
            <input type='reset' value='Reset' >
        <input type='submit' value='Done' >
</form>
{% endblock %}
