{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/base.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/cashier.js"></script>
{% endblock head %}

{% block content %}
<script>
  EBTBULKORDERS = true;   // tell cashier.js that we're the EBT page
</script>
<div id="double-column" >
  {% include "accounting/snippets/page_menu.html" %}
  <div id="primary-content-wrapper">
    <div class="profile" id="acctinfo"><!-- filled by ajax --></div>
    <form class="standard" id="transaction" method="post">
      {% csrf_token %}
      <h2>EBT entry</h2>
      <table>
        <tr>
          <th>Account:</th>
          <td>{{ form.account }}</td>
        </tr>
        <tr>
          <th>Regular Sales:</th>
          <td>{{ form.regular_sales }}</td>
        </tr>
        <tr id="ebtbulkordersrow">
          <th>EBT Bulk Orders:</th>
          <td>{{ form.ebtbulkamount }}</td>
        </tr>
        <tr id="totalrow">
          <th>Total Charged to EBT:</th>
          <td><input id="ebttotalamount" disabled="true" value=""></td>
        </tr>
        <tr>
          <th>{{ form.ebtbulkorders }}<!-- hidden field --></th>
          <td>{% if not form.errors %}<input class="button" type="submit" value="Submit" />{% endif %}</td>
        </tr>
      </table>
      {% if form.errors %}You cannot re-submit this form.  To try again, click 'EBT' at the top and start over.  Sorry.{% endif %}
      {{ form.errors }}
    </form>
    <div id="transactions">
      <h2>Today's EBT Transactions</h2>
      {% include "accounting/snippets/transactions.html" %}
    </div>
  </div>
</div>
{% endblock %}
