{% extends "base.html" %}

{% block content %}
  <div id="double-column">
  {% include "accounting/snippets/page_menu.html" %}
    <div id="primary-content-wrapper">
      <h2>
        {% if add %}
          Add new EBT bulk order 
        {% else %}
          Edit EBT bulk order: {{ ebt_bo.account }} 
        {% endif %}
      </h2>
        {% if is_errors %}
          <div class="error-message">
            <h3>You have problems.</h3>
            <p>Please see specific errors in the form below.</p>
          </div>
        {% endif %}
      <form class="standard" method="post">
        {% csrf_token %}
       <table>
         {{ form }}
         <th></th>
           <td>
             <input type="submit" class="button" value="Save" /> 
             <input type="submit" class="button" name="cancel" value="Cancel" />
           </td>
        </table>
      </form>
    <h2>Recent EBT bulk orders (total unpaid: {{ total_unpaid }})</h2>
    <table class="data">
      <tr>
        <th>Order Date</th>
        <th>Account</th>
        <th>Amount</th>
        <th>Paid-by Transaction</th>
        <th>Note</th>
        <th>Edit</th>
      </tr>    
      {% for order in unpaid %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td>{{ order.order_date|date:"n/j/y g:i A" }}</td>
        <td><a href="{{ order.account.get_absolute_url }}">{{ order.account }}</a></td>
        <td>{{ order.amount }}</td>        
        <td>{% if order.paid_by_transaction.fixers %}*{% endif %} {{ order.paid_by_transaction }}</td>
        <td>{{ order.note }}</td>
        <td>{% if not order.paid_by_transaction %}
        <a href='{% url EBT-bulk-orders-edit order.id %}'>
            edit</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
       {% for order in paid %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td>{{ order.order_date|date:"n/j/y g:i A" }}</td>
        <td><a href="{{ order.account.get_absolute_url }}">{{ order.account }}</a></td>
        <td>{{ order.amount }}</td>        
        <td>{% if order.paid_by_transaction.fixers %}*{% endif %} {{ order.paid_by_transaction }}</td>
        <td>{{ order.note }}</td>
        <td>{% if not order.paid_by_transaction %}
        <a href='{% url EBT-bulk-orders-edit order.id %}'>
            edit</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
     * Indicates that the transaction was later reversed.  Refer to notes on the transactions.
    </div>
  </div>
{% endblock %}
