{% extends "base.html" %}
{% load messmoney %}

{% block head %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/base.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/hours_balance.js"></script>
{% endblock head %}

{% block content %}
  <div id="left-column" >
   {% include "accounting/snippets/page_menu.html" %}
    <div id="primary-content-wrapper">

<form method="POST">
      <table class="data cashsheet">
        <tr>
          <th>Account</th>
          <th>Old<br>Hours<br>Balance</th>
          <th>Hours<br>Balance<br>Change</th>
          <th>New<br>Hours<br>Balance</th>
          <th><!-- submit --></th>
        </tr>
        <tr>
          <td>{{ form.account }}</td>
          <td>
            <input type="hidden" id="hours_balance_val" value="">
            <span id="hours_balance_disp"> </span>
          </td>
          <td>{{ form.hours_balance_change }}</td>
          <td><span id="new_hours_balance"> </span></td>
          <td><input type="submit" value="Submit"></td>
        </tr>
      </table>
      {{ form.errors }}
</form>

{% include "accounting/snippets/hours_balance_changes.html" %}

    </div>
  </div>
{% endblock %}
