{% extends "base.html" %}

{% block head %}
  <link href="{{ MEDIA_URL }}css/yui_custom.css" type="text/css" rel="Stylesheet" media="screen" />
  <script type="text/javascript" src="{{ MEDIA_URL }}yui/yahoo-dom-event/yahoo-dom-event.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}yui/datasource/datasource-min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}yui/connection/connection-min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}yui/autocomplete/autocomplete-min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/base.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/cashier.js"></script>
{% endblock head %}

{% block content %}
  <div id="double-column" >
   {% include "accounting/snippets/page_menu.html" %}
    <div id="primary-content-wrapper">
      <div class="profile" id="acctinfo"><!-- filled by ajax --></div>
      <form class="standard" id="transaction" method="post" onsubmit="return confirm('Please double-check the transaction, then click OK.');">
        <table>
          {{ form }}
          <tr>
            <th></th>
            <td><input class="button" type="submit" value="Submit" /></td>
          </tr>
        </table>
      </form>
      <div id="transactions">
        <h2>Today's Transactions</h2>
        {% include "accounting/snippets/transactions.html" %}
      </div>
    </div>
  </div>
{% endblock %}
