{% extends "accounting/base.html" %}

{% block content %}

<form method='post' action=''>
    <input type='hidden' id='id_balance' name='balance' value='0' />
    <table>
        <tr>
            <th>Account Name:</th><td colspan='2'>{{ form.account }}</td>
            <th>Member Name:</th><td colspan='2'>{{ form.member }}</td>
        </tr>
        <tr>
            <th rowspan='2'>Purchase</th>
            <th>Type</th><td>{{ form.credit_type }}</td>
            <th rowspan='2'>Payment</th>
            <th>Type</th><td>{{ form.debit_type }}</td>
        </tr>
        <tr>
            <th>Amount</th><td>{{ form.credit }}</td>
            <th>Amount</th><td>{{ form.debit }}</td>
        </tr>
        <tr>
            <th colspan='1'>Note:</th><td colspan='2'>{{ form.note }}</td>
            <th>Reference:</th><td>{{ form.ref }}</td>
            <td><input type='submit' value='Save' ></td>
        </tr>
    </table>
</form>

<h1>Today's Transactions</h1>
<table>
    <tr>
        <th>Trans ID</th>
        <th>Time</th>
        <th>Account</th>
        <th>Member</th>
        <th>Note</th>
        <th>Reference</th>
        <th>Type</th>
        <th>Purchase</th>
        <th>Payment</th>
        <th>Account<br />Balance</th>
    </tr>
    {% for trans in transactions|dictsortreversed:"id" %}
    <tr>
        <td>{{ trans.id }}</td>
        <td>{{ trans.date|date:"g:i:s A" }}</td>    
        <td>{{ trans.account }}</td>
        <td>{{ trans.member }}</td>
        <td>{{ trans.note }}</td>
        <td>{% if trans.ref %}
                {{ trans.ref }}
            {% endif %}
        </td>
        <td>{% ifnotequal trans.credit_type "N" %}
                {{ trans.get_credit_type_display }}
            {% endifnotequal %}
            {% ifnotequal trans.debit_type "N" %}
                {{ trans.get_debit_type_display }}
            {% endifnotequal %}
        </td>
        <td>{% ifnotequal trans.credit 0 %}
                {{ trans.credit }}
            {% endifnotequal %}
        </td>
        <td>{% ifnotequal trans.debit 0 %}
                {{ trans.debit }}
            {% endifnotequal %}
        </td>
        <td>{{ trans.balance }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}


