  <div class="pagination">
    {% for page_number in pager.page_range %}
      {% ifequal page_number page.number %}
        <span>{{ page_number }}</span>
      {% else %}
        <a href="{{ request.path }}?p={{ page_number }}">{{ page_number }}</a>
      {% endifequal %}
    {% endfor %}
{% comment %}
    {% if page.has_previous %}
      <span>
        <a href="{% url members %}?p={{ page.previous_page_number }}">&laquo;&nbsp;Previous page</a>
      </span>
    {% endif %}
    {% if page.has_next %}
      <span>
        <a href="{% url members %}?p={{ page.next_page_number }}">Next page&nbsp;&raquo;</a>
      </span>
    {% endif %}
{% endcomment %}
  </div>

