{% extends "base.html" %}

{% block content %}
  <div id="double-column">
    {% include "events/snippets/page_menu.html" %}
    <div id="primary-content-wrapper">
      <h2>
        {% if edit %}
          Edit orientation
        {% else %}
          Add new orientation
        {% endif %}
      </h2>
      <form class="standard" method="post">
        {% csrf_token %}
        {% if is_errors %}
          <div class="error-message">
            <h3>You have problems.</h3>
            <p>Please see specific errors in the form below.</p>
          </div>
        {% endif %}
        <div class="section">
          <h3>Main</h3>
          <table>
            {{ orientation_form }}
          </table>
          <input type="submit" value="Save"/>
          <input type="submit" name="cancel" value="Cancel"/>
        </div>
        {% if orientation %}
        <div class="section">
          <h3>Scheduled Attendees</h3>
          <br/>
          {% for member in orientation.member_set.all %}
          "{{ member.user.first_name }} {{ member.user.last_name }}" {{ member.user.email }}<br/>
          {% endfor %}
        </div>
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}
