{% extends "base.html" %}

{% block content %}
<div id="double-column">
  {% include "events/snippets/page_menu.html" %}
  <div id="primary-content-wrapper">
    <form action="{% url events-orientation-add %}">
      <div class="add-button">
        <input type="submit" value="Add an orientation" />
      </div>
    </form>
    <h2>Upcoming Orientations</h2>
    <table class="data">
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Location</th>
        <th>Address</th>
        <th>Facilitator</th>
        <th>Cofacilitator</th>
        <th>Active</th>
      </tr>    
      {% for orientation in upcoming_orientations %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td>
          <a title='Attendees: {% for member in orientation.member_set.all %}{{ member.user.first_name }} {{ member.user.last_name }}, {% endfor %}' href='{% url events-orientation-edit orientation.id %}'>{{ orientation.name }}</a>
        </td>
        <td>{{ orientation.start }}</td>
        <td>{{ orientation.end }}</td>
        <td>{{ orientation.location.name }}</td>        
        <td>{{ orientation.location.address1 }}</td>        
        <td>{{ orientation.facilitator }}</td>        
        <td>{{ orientation.cofacilitator }}</td>        
        <td>{{ orientation.active }}</td>        
      </tr>
      {% endfor %}
    </table>
    <br/>
    <h2>Special Orientations</h2>
    <table class="data">
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Location</th>
        <th>Address</th>
        <th>Facilitator</th>
        <th>Cofacilitator</th>
        <th>Active</th>
      </tr>    
      {% for orientation in special_orientations %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td>
          <a title='Attendees: {% for member in orientation.member_set.all %}{{ member.user.first_name }} {{ member.user.last_name }}, {% endfor %}' href='{% url events-orientation-edit orientation.id %}'>{{ orientation.name }}</a>
        </td>
        <td>{{ orientation.start }}</td>
        <td>{{ orientation.end }}</td>
        <td>{{ orientation.location.name }}</td>        
        <td>{{ orientation.location.address1 }}</td>        
        <td>{{ orientation.facilitator }}</td>        
        <td>{{ orientation.cofacilitator }}</td>        
        <td>{{ orientation.active }}</td>        
      </tr>
      {% endfor %}
    </table>

    <br/>
<!--    <h2>Past Orientations</h2>
    <table class="data">
      <tr>
        <th>Name</th>
        <th>Date & Time</th>
        <th>Length</th>
        <th>Location</th>
        <th>Address</th>
        <th>Active</th>
      </tr>    
      {% for orientation in past_orientations %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td>
          <a href='{% url events-orientation-edit orientation.id %}'>{{ orientation.name }}</a>
        </td>
        <td>{{ orientation.datetime }}</td>
        <td>{{ orientation.length_in_minutes }}</td>
        <td>{{ orientation.location.name }}</td>        
        <td>{{ orientation.location.address1 }}</td>        
        <td>{{ orientation.active }}</td>        
      </tr>
      {% endfor %}
    </table>

    {% include "snippets/pagination.html" %}
    -->
  </div>
</div>
{% endblock %}

